<div class="container p-0 pt-2 mx-auto">
  <header class="flex flex-col items-center justify-between mt-2 mb-6 md:flex-row md:pl-4">
    <app-header [title] [subtitle]="'Ruta de actividades'"></app-header>
  </header>
</div>

<!-- Breadcrumbs-->
  <app-breadcrumbs></app-breadcrumbs>

<div *ngIf="isLoading" class="fixed inset-0 flex items-center justify-center z-50">
  <div class="spinner"></div>
</div>

<div *ngIf="!isLoading">
  <div *ngIf="ishidden" class="flex justify-center md:mt-52">
    <div class="container p-4 mx-auto text-center font-poppins">
      <h4 class="font-poppins">Para acceder al contenido de la ruta, es necesario que completes la encuesta de maduración. Haz clic en el siguiente botón para dirigirte a la encuesta.</h4>
      <button
        class="py-2 px-4 max-md:mt-2 sm:px-8 bg-[#FA7D00] text-base sm:text-xl text-white font-bold rounded-full transition duration-300 text-center whitespace-normal flex-none justify-end"
        [routerLink]="['/list-empresa']"
      >Encuesta de maduracion</button>
    </div>
  </div>

<div>

  <div *ngIf="!ishidden">
    <div class="route-container">
      <ng-container *ngFor="let ruta of rutaLista; let i = index">
        <ng-container *ngFor="let actividad of ruta.actividades || []; let j = index">
          <div class="cursor-pointer route-item" [ngClass]="getItemClass(i * ruta.actividades.length + j)" [style.order]="getOrder(i * ruta.actividades.length + j)" (click)="openModal(actividad, i * (ruta.actividades?.length || 0) + j)">
            <div class="circle" [ngClass]="getCirclePositionClass(i * ruta.actividades.length + j)" [style.border-color]="getItemColor(i * ruta.actividades.length + j)">
              <div class="number" [style.color]="getItemColor(i * ruta.actividades.length + j)">{{ (i * ruta.actividades.length + j + 1).toString().padStart(2, '0') }}</div>
            </div>
            <div class="content" [style.background-color]="getItemColor(i * ruta.actividades.length + j)">
              <h3>{{ actividad.nombre }}</h3>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>


  <!-- [ultimoElemento]="ultimoElemento" -->
  
  <app-modal-actividad 
    *ngIf="selectedActividad"
    [actividad]="selectedActividad" 
    [rutaId]="selectedRutaId"
    [visible]="modalVisible" 
    (close)="closeModal()"
    (irAModuloClicked)="handleIrAModulo($event)">
  </app-modal-actividad>

  <tr *ngIf="!isLoading && rutaList.length === 0 && !laruta" class="flex justify-center md:mt-52">
    <td colspan="4" class="text-center py-4 text-gray-500 flex justify-center w-full text-xl">No se encontraron Rutas Activas.</td>
  </tr>

  <tr *ngIf="alertadeactividad" class="flex justify-center md:mt-52">
    <td colspan="4" class="text-center py-4 text-gray-500 flex justify-center w-full text-xl">No se encontraron Actividades Activas.</td>
  </tr>

</div>