<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<!-- <head>
    <link rel="preload" href="../../../../assets/images/fondoLogin.webp" as="image">
</head> -->
<div class="absolute top-0 left-0 w-full min-h-screen bg-login bg-cover bg-center md:bg-center bg-no-repeat bg-[url('./assets/images/fondoLogin.webp')] text-[16px] font-poppins">

    <div class="grid content-center justify-center min-h-screen ">
        <div class="grid content-center justify-center grid-cols-1 gap-2 pl-0 md:grid-cols-3">
            <div class="col-span-1 md:content-center ">
                <div class="flex items-center justify-center">
                    <div class="w-[250px] h-[180px]">
                        <img src="../../../../assets/images/logoSeed_blanco.webp" class="w-[100%] h-[100%]  md:mt-14"
                            alt="">
                    </div>
                </div>
            </div>
            <div class="col-span-2">
                <h2 class="text-[#fff] text-center mt-4 md:font-[500] font-poppins">¿Aún no estás registrado en SeedLab?
                    <a class="no-underline" [routerLink]="['/auth/registro']"><span class="text-[#00B3ED]">Registrate</span></a></h2>


                <form [formGroup]="loginForm" (ngSubmit)="login()"
                    class="backdrop-brightness-50 bg-[#fff] bg-opacity-55 backdrop-filter backdrop-opacity-50 rounded-3xl p-4 md:p-8 grid w-full max-w-[18rem]  md:max-w-[25rem] mx-auto mt-10">

                    <!-- Email input -->
                    <div class="mb-2">
                        <label for="email" class="block text-base truncate">Correo electronico:</label>
                        <div class="mt-2">
                            <input type="email" id="email" name="email" formControlName="email"
                                placeholder="Correo electronico"
                                class="block w-full rounded-md border-0 p-2 text-[#000] shadow-sm ring-1 ring-inset focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[#00B3ED] sm:text-sm sm:leading-6" />
                        </div>

                    </div>

                    <!-- Password input -->
                    <div class="relative">
                        <label for="password" class="block text-base truncate">Contraseña:</label>
                        <div class="mt-2">
                            <input [type]="hide ? 'password' : 'text'" id="password" formControlName="password"
                                placeholder="Contraseña"
                                class="block w-full rounded-md border-0 p-2 text-[#000] shadow-sm ring-1 ring-inset focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[#00B3ED] sm:text-sm sm:leading-6" />
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                                class="absolute right-1 top-[52.5px] transform -translate-y-1/2 ">
                                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div class="flex justify-center mt-3">
                        <h2><a class="no-underline" href="forgot"><span class="text-[#00B3ED]">¿Olvidaste tu
                                    contraseña?</span></a></h2>
                    </div>

                    <div class="flex justify-center space-x-2">
                        <button type="submit"
                            class="bg-[#fcb404] hover:bg-[#fcb404] text-white py-2 px-4 rounded-full text-[16px]">Iniciar
                            sesión</button>
                    </div>


                </form>


            </div>
            <!-- columna 2 -->
        </div>
    </div>