<div class="container mx-auto p-4">
  <!-- Encabezado -->
  <header class="flex flex-col md:flex-row justify-between items-center mb-6 md:pl-4">
    <app-header [title] [subtitle]="'Reportes'"></app-header>
  </header>

  <!-- Breadcrumbs-->
  <app-breadcrumbs></app-breadcrumbs>

  <!-- Sección de filtros -->
  <div class="mb-6 font-poppins">
    <form [formGroup]="reporteForm" (ngSubmit)="mostrarReportes()">
      <div class="flex flex-wrap items-end gap-4">
        <h2 class="text-lg font-semibold mr-4 mb-3 sm:mb-0">FILTROS
          <fa-icon [icon]="falupa" class="text-sm inline-block ml-1" mat-raised-button
            matTooltip="Seleccione una opción y elija el rango de tiempo para visualizar los datos correspondientes. Una vez completado, haga clic en 'Generar' para mostrar el listado de datos. Luego, elija el formato en el que desea descargar su reporte."
            matTooltipPosition="right" style="color: #adb7c7;">
          </fa-icon>
        </h2>
        <div class="flex-grow flex flex-wrap gap-4">
          <div class="w-full sm:w-40 md:w-48">
            <select class="w-full p-2 border rounded-md bg-gray-100 text-base" formControlName="tipo_reporte"
              (change)="onTipoReporteChange($event)">
              <option value="" disabled selected>Selecione una opción</option>
              <option value="asesoria">Asesorias Solicitadas</option>
              <option value="asesor">Asesores</option>
            </select>
          </div>
          <div class="w-full sm:w-40 md:w-48">
            <input type="date" formControlName="fecha_inicio"
              class="w-full p-2 border rounded-md bg-gray-100 text-base">
          </div>
          <div class="w-full sm:w-40 md:w-48">
            <input type="date" formControlName="fecha_fin" class="w-full p-2 border rounded-md bg-gray-100 text-base">
          </div>
          <div class="w-full sm:w-auto ">
            <button type="submit"
              class="w-full sm:w-auto px-16 py-2 bg-[#FFA300] text-white font-bold text-xl rounded-md hover:bg-yellow-500 ">
              Generar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Tarjeta de fondo gris suave -->
  <div class="bg-gray-50 rounded-lg shadow-md p-6 font-poppins">
    <!-- Botones de descarga -->
    <div class="flex justify-end space-x-4 mb-4">
      <button (click)="getReportes('excel')"
        class="flex items-center px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 transition-colors duration-200">
        <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z">
          </path>
        </svg>
        Excel
      </button>
      <button (click)="getReportes('pdf')"
        class="flex items-center px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 transition-colors duration-200">
        <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z">
          </path>
        </svg>
        PDF
      </button>
    </div>

    <div class="overflow-x-auto">
      <table class="w-full bg-white rounded-lg shadow-sm">
        <thead>
          <tr class="bg-gray-100">
            <th *ngFor="let columna of columnas"
              class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              {{ columna }}
            </th>
            <th *ngIf="tipoReporteSeleccionado === 'emprendedor'"
              class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Exportar
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <ng-container *ngIf="paginatedReportes.length > 0; else noData">
            <tr *ngFor="let reporte of paginatedReportes" class="hover:bg-gray-50 transition-colors duration-200">
              <td *ngFor="let columna of columnas" class="px-4 py-4 whitespace-nowrap text-sm text-gray-700">
                {{ reporte[columna] }}
              </td>
              <td *ngIf="tipoReporteSeleccionado === 'emprendedor'"
                class="px-4 py-4 whitespace-nowrap text-sm text-gray-700">
                <!-- Botón de Excel -->
                <button (click)="getReporteFormulario(reporte.documento)" class="text-green-600 hover:text-green-800">
                  <i class="fas fa-file-excel"></i>
                </button>
                <!-- Botón de PDF -->
                <button class="text-red-600 hover:text-red-800 ml-2">
                  <i class="fas fa-file-pdf"></i>
                </button>
              </td>
            </tr>
          </ng-container>
          <ng-template #noData>
            <tr>
              <td colspan="100%" class="text-center py-4 text-gray-500">
                No se encontraron datos para mostrar.
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>

    <!-- Paginación -->
    <div class="mt-4 flex justify-center items-center">
      <div class="text-center">
        <nav aria-label="Page navigation example">
          <ul class="inline-flex space-x-2 text-sm items-center pl-0">
            <li>
              <a href="javascript:void(0)"
                class="inline-flex items-center justify-center pl-2 w-8 h-8 rounded-lg border-2 border-gray-300 text-gray-400 hover:bg-gray-200 focus:outline-none no-underline"
                (click)="changePage('previous')" [class.opacity-50]="!canGoPrevious()"
                [class.cursor-not-allowed]="!canGoPrevious()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-4 w-4" fill="currentColor">
                  <path
                    d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
                </svg>
              </a>
            </li>
            <ng-container *ngFor="let pageNumber of getPages()">
              <li>
                <a href="javascript:void(0)"
                  class="inline-flex items-center justify-center w-8 h-8 rounded-lg border-2 border-amber-500 text-amber-500 hover:bg-amber-100 focus:outline-none no-underline font-bold"
                  (click)="changePage(pageNumber)" [class.bg-amber-500]="page === pageNumber"
                  [class.text-white]="page === pageNumber">
                  {{ pageNumber }}
                </a>
              </li>
            </ng-container>
            <li>
              <a href="javascript:void(0)"
                class="inline-flex items-center justify-center pl-2 w-8 h-8 rounded-lg border-2 border-gray-300 text-gray-400 hover:bg-gray-200 focus:outline-none no-underline"
                (click)="changePage('next')" [class.opacity-50]="!canGoNext()"
                [class.cursor-not-allowed]="!canGoNext()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-4 w-4" fill="currentColor">
                  <path
                    d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>