<form [formGroup]="perfiladminForm">
    <div class="container py-6 mx-auto md:py-12 sm:py-12 font-poppins px-4 md:px-8">
        <!-- Encabezado -->
        <header class="flex sm:mb-8">
            <app-header [title] [subtitle]="'Perfil'"></app-header>
        </header>

        <!-- Breadcrumbs-->
        <app-breadcrumbs></app-breadcrumbs>

        <div class="flex justify-center">
            <div class="spinner " *ngIf="isLoading"></div>
        </div>
        <!-- CÓDIGO CORREGIDO -->
        <div class="w-full rounded-lg bg-[#FAFAFA] mt-8 max-[600px]:px-2 max-[600px]:py-2  min-[851px]:px-16"
            *ngIf="!isLoading">

            <!-- Contenido -->
            <div class="min-[860px]:flex items-center w-full">
                <!-- Primera Columna -->
                <div class=" bg-[#e6e6e6] rounded-lg relative max-[860px]:w-full  min-[860px]:max-w-[45rem]">
                    <div class="w-full">
                        <div class="image-container">
                            <ng-container
                                *ngIf="perfilPreview || perfiladminForm.get('imagen_perfil')?.value; else defaultImage">
                                <img [src]="perfilPreview || getFullImageUrl(perfiladminForm.get('imagen_perfil')?.value) "
                                    class="profile-image">
                            </ng-container>
                            <ng-template #defaultImage>
                                <img src="../../../../assets/images/perfil.webp" class="profile-image" alt="">
                            </ng-template>
                            <button class="edit-button" [class.hidden]="!showEditButton" id="editboton">
                                <i class="fas fa-pencil-alt">
                                    <input id="imagen_ruta" type="file"
                                        (change)="onFileSelecteds($event, 'imagen_perfil')"
                                        accept="image/jpeg,image/png,image/jpg"
                                        class="absolute inset-0 opacity-0 cursor-pointer">
                                </i>
                            </button>
                            <div class="absolute top-0 right-0 mt-2 mr-2">
                                <fa-icon [icon]="falupa" class="text-sm cursor-pointer"
                                    [matTooltip]="'La imagen no debe pesar mas de 5MB.'" matTooltipPosition="right"
                                    style="color: #adb7c7;">
                                </fa-icon>
                            </div>
                        </div>
                        <div class="w-full h-full p-4 rounded-lg ">
                            <div class="w-full">
                                <h5 class="mt-16 text-xl font-bold text-center max-md:mt-20 font-poppins">Información
                                    Básica</h5>

                                <label for="nombre" class="block mt-4 mb-2">Nombre(s)</label>
                                <input type="text" id="nombre" formControlName="nombre" [readonly]="blockedInputs"
                                    class="w-full h-12 p-2 bg-white border rounded-md appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200" />
                                <div *ngIf="f['nombre'].invalid && (f['nombre'].dirty || f['nombre'].touched)"
                                    class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50"
                                    role="alert">
                                    <div *ngIf="f.nombre.errors.required">Este campo es requerido *</div>
                                    <div *ngIf="f.nombre.errors.hasNumbers">Este campo no puede contener números</div>
                                </div>

                                <label for="apellido" class="block mt-4 mb-2">Apellido(s)</label>
                                <input type="text" id="apellido" formControlName="apellido" [readonly]="blockedInputs"
                                    class="w-full h-12 p-2 bg-white border rounded-md appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200" />
                                <div *ngIf="f['apellido'].invalid && (f['apellido'].dirty || f['apellido'].touched)"
                                    class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50"
                                    role="alert">
                                    <div *ngIf="f.apellido.errors.required">Este campo es requerido *</div>
                                    <div *ngIf="f.apellido.errors.hasNumbers">Este campo no puede contener números</div>
                                </div>

                                <div class="min-[860px]:flex gap-4 mt-4">
                                    <div class="">

                                        <label for="tipodocumento" class="block mb-2 md:w-20 ">Tipo de Documento</label>
                                        <select id="id_tipo_documento" formControlName="id_tipo_documento"
                                            [disabled]="blockedInputs"
                                            class="w-full h-12 p-2 bg-white border rounded-md appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200"> 
                                            <option value="" disabled selected>Seleccionar tipo de documento...</option>
                                            <option *ngFor="let tipo of listTipoDocumento" [value]="tipo.id">{{
                                                tipo.nombre }}</option>
                                        </select>
                                    </div>
                                    <div class="">
                                        <label for="documento" class="block mb-2 max-md:mt-4">Número de
                                            Documento</label>
                                        <input type="number" id="documento" formControlName="documento"
                                            [readonly]="blockedInputs"
                                            class="w-full h-12 p-2 bg-white border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-200"
                                            [ngClass]="{'border-red-500': f['documento'].invalid && (f['documento'].dirty || f['documento'].touched)}" />
                                    </div>



                                </div>
                                <div *ngIf="f['documento'].invalid && (f['documento'].dirty || f['documento'].touched)"
                                    class="inline-block p-2 mt-2 text-sm text-red-500 rounded-lg bg-red-50"
                                    role="alert">
                                    <div *ngIf="f.documento.errors.required">Este campo es requerido*</div>
                                    <div *ngIf="f.documento.errors.lengthError">El número de documento debe tener entre
                                        5 y 13 dígitos*</div>
                                    <div *ngIf="f.documento.errors.hasLetters">El número de documento no puede contener
                                        letras*</div>
                                </div>
                                <label for="genero" class="block mt-4 mb-2">Género</label>
                                <select id="genero" formControlName="genero" [disabled]="blockedInputs"
                                    class="w-full h-12 p-2 bg-white border rounded-md appearance-none md:mb-4 focus:outline-none focus:ring-2 focus:ring-blue-200">
                                    <option value="" disabled selected>Seleccionar Género...</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                    <option value="Otro">Otro</option>
                                </select>
                                <div *ngIf="submitted && f.genero.errors"
                                    class="inline-block pl-2 text-red-500 rounded-lg bg-red-50">
                                    <div *ngIf="f.generos.required">Este campo es requerido *</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="max-[860px]:hidden w-10"></div>
                <div class="min-[860px]:flex bg-[#e6e6e6] rounded-lg p-4 justify-between h-full w-full">
                    <div class="w-full pt-0 mt-0 ">

                        <h5 class="mb-4 text-xl font-bold text-center font-poppins">Información Personal</h5>

                        <label for="fechaNacimiento" class="block mb-2">Fecha de Nacimiento</label>
                        <input type="date" id="fecha_nac" formControlName="fecha_nac" [readonly]="blockedInputs"
                            class="w-full h-12 p-2 mb-2 bg-white border rounded-md appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200" />
                        <div *ngIf="f['fecha_nac'].invalid && (f['fecha_nac'].dirty || f['fecha_nac'].touched)"
                            class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                            <div *ngIf="f.fecha_nac.errors.required">Este campo es requerido *</div>
                            <div *ngIf="f.fecha_nac.errors.futureDate">La fecha no es válida*</div>
                            <div *ngIf="f.fecha_nac.errors.tooOld">La fecha no es válida*</div>
                            <div *ngIf="f.fecha_nac.errors.tooRecent">Debe tener al menos 18 años *</div>
                        </div>

                        <div class="flex items-center">
                            <label for="password" class="block mt-4 mb-2">Contraseña</label>
                            <fa-icon [icon]="falupa" class="mt-2 ml-1 text-sm transform right-2" mat-raised-button
                                matTooltip="Puedes cambiar la contraseña si lo deseas. Si la dejas en blanco, la contraseña actual permanecerá sin cambios."
                                matTooltipPosition="right" style="color: #adb7c7;">
                            </fa-icon>
                        </div>

                        <div class="relative mb-2">
                            <input [type]="hide ? 'password' : 'text'" id="contrasena" formControlName="password"
                                [disabled]="blockedInputs" [readonly]="blockedInputs"
                                class="w-full h-12 p-2 placeholder-black bg-white border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-200" />
                            <button type="button"
                                class="absolute inset-y-0 right-0 flex items-center pr-3 text-sm leading-5 text-gray-500"
                                (click)="hide = !hide">
                                <i *ngIf="hide" class="fa fa-eye-slash text-cyan-500"></i>
                                <i *ngIf="!hide" class="fa fa-eye text-cyan-500"></i>
                            </button>
                        </div>
                        <div *ngIf="f['password'].dirty && f['password'].value !== '' && f['password'].invalid"
                            class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                            <div *ngIf="f.password.errors?.['minlength']">La contraseña debe tener al menos 10
                                caracteres *</div>
                            <div *ngIf="f.password.errors?.['passwordStrength']">{{
                                f.password.errors['passwordStrength'] }}</div>
                        </div>

                        <h5 class="mt-6 mb-4 text-xl font-bold text-center font-poppins">Información de Contacto</h5>

                        <label for="correo" class="block mb-2">Correo Electrónico</label>
                        <input type="text" id="correo" formControlName="email" [readonly]="blockedInputsCORREO"
                            [ngStyle]="{'cursor': blockedInputsCORREO ? 'not-allowed' : 'auto'}"
                            class="w-full h-12 p-2 mb-2 bg-white border rounded-md appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200" />

                        <label for="celular" class="block mt-4 mb-2">Celular</label>
                        <input type="number" id="celular" formControlName="celular" [readonly]="blockedInputs"
                            class="w-full h-12 p-2 mb-2 bg-white border rounded-md appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200" />
                        <div *ngIf="f['celular'].invalid && (f['celular'].dirty || f['celular'].touched)"
                            class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                            <div *ngIf="f.celular.errors.required">Este campo es requerido *</div>
                            <div *ngIf="f.celular.errors.maxlength">El número de celular no debe tener más de 10 dígitos
                            </div>
                            <div *ngIf="f.celular.errors.hasLetters">El número de celular no puede contener letras</div>
                            <div *ngIf="f.celular.errors.lengthError">El número de celular debe tener entre 5 y 10
                                dígitos *</div>
                        </div>
                    </div>
                    <div class="w-20"></div>

                    <div class="w-full">
                        <h5 class="mb-4 text-xl font-bold text-center max-md:mt-5 font-poppins">Dirección</h5>

                        <label for="id_departamento" class="block mb-2">Departamento</label>
                        <select id="id_departamento" name="id_departamento" formControlName="id_departamento"
                            (change)="onDepartamentoSeleccionado($event)" [disabled]="blockedInputs"
                            class="w-full h-12 p-2 mb-2 bg-white border rounded-md appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200">
                            <option *ngFor="let departamento of listDepartamentos" [value]="departamento.id">
                                {{ departamento.name }}
                            </option>
                        </select>


                        <label for="id_municipio" class="block mt-4 mb-2">Municipio</label>
                        <select id="id_municipio" name="id_municipio" formControlName="id_municipio"
                            [disabled]="blockedInputs"
                            class="w-full h-12 p-2 mb-2 bg-white border rounded-md appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200">
                            <option value="">Seleccione un municipio</option>
                            <option *ngFor="let municipio of listMunicipios" [value]="municipio.id">
                                {{ municipio.nombre }}
                            </option>
                        </select>
                        <div *ngIf="f['id_municipio'].errors"
                            class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                            <div *ngIf="f['id_municipio'].errors['required']">Este campo es requerido *</div>
                        </div>

                        <label for="direccion" class="block mt-4 mb-2">Dirección</label>
                        <input type="text" id="direccion" formControlName="direccion" [readonly]="blockedInputs"
                            class="w-full h-12 p-2 mb-2 bg-white border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-200" />
                    </div>

                </div>
            </div>
        </div>
        <!-- Estilo de los botones -->
        <div class="flex justify-center w-full mt-7 md:justify-end" *ngIf="!isLoading">
            <div class="flex ">
                <button class="px-4 py-2 mr-2 italic font-bold text-white rounded-full bg-amber-500"
                    (click)="onCancel()" *ngIf="!blockedInputs" (click)="toggleInputsLock()"
                    (click)="toggleEditButtonn()">
                    Cancelar
                </button>
                <button id="guardarBtn" type="submit" [disabled]="isSubmitting"
                    class="px-4 py-2 italic font-bold text-white rounded-full bg-amber-500" *ngIf="!blockedInputs"
                    (click)="updateAdministrador()">
                    <span *ngIf="!isSubmitting">{{ buttonMessage }}</span>
                    <span *ngIf="isSubmitting" class="flex items-center">
                        <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                            </circle>
                            <path class="opacity-75" fill="currentColor"
                                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                            </path>
                        </svg>
                        {{ buttonMessage }}
                    </span>
                </button>
            </div>

            <div class="flex justify-end mr-4 md:mr-8">
                <button id="boton"
                    class="px-4 py-2 italic font-bold text-white rounded-full bg-amber-500 hover:bg-amber-600 transition duration-300 ease-in-out"
                    (click)="onEdit()" *ngIf="blockedInputs" (click)="toggleInputsLock()">
                    Editar Perfil
                </button>
            </div>
        </div>
    </div>


</form>