<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="container p-0 pt-2 mx-auto font-poppins">
  <!-- Encabezado -->
  <header class="flex flex-col items-center justify-between mb-6 md:flex-row">
    <app-header [title] [subtitle]="'Asesorias'"></app-header>
    <!-- Barra de búsqueda -->
    <div class="relative flex justify-end w-3/5 md:flex-grow max-md:max-w-l lg:max-w-xl md:mb-10">
      <span
        class="absolute right-4 top-1/2 transform -translate-y-1/2 text-white bg-[#00B3ED] rounded-full w-8 h-8 flex items-center justify-center">
        <i class="fas fa-search text-[18px]"></i>
      </span>
      <input type="text" [(ngModel)]="userFilter.Nombre_sol" placeholder="Buscar..."
        class="w-full h-10 pl-2 border-2 rounded-full max-md:w-full max-lg:w-3/4 max-xl:w-4/5 max-lg:alig pr-9 bg-form-gray">
    </div>
  </header>

  <!-- Breadcrumbs -->
  <app-breadcrumbs></app-breadcrumbs>
  
  <div class="flex flex-col px-1 mt-8 mb-4 sm:px-1">

    <!-- Contenedor principal -->
    <div class="flex flex-wrap gap-4 w-full md:w-auto ml-[10px] md:ml-[55px] items-center">
      <h5 class="mt-2 font-bold font-poppins">FILTROS</h5>

      <!-- Botones de filtro -->
      <div class="flex flex-wrap items-center p-2 space-x-2 bg-gray-100 rounded-lg">

        <!-- Botón de 'Sin asignar' -->
        <button id="sinAsignar"
          class="flex items-center px-2 py-2 italic text-gray-800 ease-in-out md:px-4 listado-aseorias"
          (click)="showSinAsignar()">
          <span
            class="flex items-center justify-center w-6 h-6 mr-2 text-red-700 bg-white border border-red-700 rounded-lg">
            {{ sinHorarioCount }}
          </span>
          <span>Sin asignar</span>
        </button>

        <!-- Botón de 'Asignadas' -->
        <button id="Asignadas"
          class="flex items-center px-2 py-2 italic text-gray-800 ease-in-out btn-color md:px-4 listado-aseorias"
          (click)="showAsignadas()">
          <span
            class="flex items-center justify-center w-6 h-6 mr-2 text-green-500 bg-white border border-green-500 rounded-lg">
            {{ conHorarioCount }}
          </span>
          <span>Asignadas</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Spinner -->
  <div class="flex justify-center" *ngIf="isLoading">
    <div class="spinner"></div>
  </div>

  <div class="flex flex-wrap justify-center px-2 mt-6 space-y-2" *ngIf="!isLoading && (showTrue || showFalse)">
    <div *ngIf="mensaje" class="mt-6 text-center text-gray-500">{{ mensaje }}</div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 w-full p-4 bg-[#FAFAFA] ">
      <!-- Contenedor de la card -->
      <div *ngFor="let asesoria of (showTrue ? asesoriasConHorario : asesoriasSinHorario )|filterBy:userFilter | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index" class="relative w-full">
        <!-- Contenedor de la tarjeta con el efecto de recorte -->
        <div class="relative bg-[#e6e6e6] rounded-lg p-4 py-3 h-auto">
          <!-- Dentro del círculo -->
          <div class="p-2 absolute  rounded-full bg-[#FAFAFA] -top-5 -right-3">
            <div class="flex items-center justify-center w-12 h-12 rounded-full cursor-pointer"
              (click)="openModal(asesoria)" [ngClass]="{'bg-green-500': showTrue, 'bg-red-500': showFalse}">
              <i class="fa-solid fa-arrow-up-long transform rotate-45 text-white text-[24px]"></i>
            </div>
          </div>

          <!-- Contenido de la tarjeta -->
          <h2 class="text-lg font-black h-[3.3rem] overflow-hidden mt-[24px] font-poppins">{{ asesoria.Nombre_sol }}</h2>
          <div
            class="block w-full h-[3.7rem] text-gray-900 focus:outline-none resize-none overflow-hidden text-ellipsis mb-3"
            title="{{ asesoria.notas }}">{{ asesoria.notas }}</div>
          <p class="mb-2 text-sm text-black italic"><strong>Emprendedor: </strong>{{ asesoria.nombre }} {{
            asesoria.apellido }}</p>
          <p class="mb-2 text-sm text-black italic"><strong>Celular: </strong>{{ asesoria.celular }}</p>
          <p class="mb-2 text-sm text-black italic"><strong>Correo: </strong>{{ asesoria.correo }}</p>
        </div>
      </div>
    </div>
    <!-- Contenedor de la paginación -->
    <div *ngIf="!isLoading">
      <div class="text-center">
        <nav aria-label="Page navigation example">
          <ul class="inline-flex items-center pl-0 space-x-2 text-sm">
            <li>
              <a 
                href="javascript:void(0)" 
                class="inline-flex items-center justify-center w-8 h-8 pl-2 text-gray-400 no-underline border-2 border-gray-300 rounded-lg hover:bg-gray-200 focus:outline-none" 
                (click)="changePage('previous')" 
                [class.opacity-50]="!canGoPrevious()" 
                [class.cursor-not-allowed]="!canGoPrevious()"
              >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4" fill="currentColor">
                  <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/>
                </svg>
              </a>
            </li>
            <ng-container *ngFor="let pageNumber of getPages()">
              <li>
                <a 
                  href="javascript:void(0)" 
                  class="inline-flex items-center justify-center w-8 h-8 font-bold no-underline border-2 rounded-lg border-amber-500 text-amber-500 hover:bg-amber-100 focus:outline-none" 
                  (click)="changePage(pageNumber)" 
                  [class.bg-amber-500]="page === pageNumber" 
                  [class.text-white]="page === pageNumber"
                >
                  {{ pageNumber }}
                </a>
              </li>
            </ng-container>
            <li>
              <a 
                href="javascript:void(0)" 
                class="inline-flex items-center justify-center w-8 h-8 pl-2 text-gray-400 no-underline border-2 border-gray-300 rounded-lg hover:bg-gray-200 focus:outline-none" 
                (click)="changePage('next')" 
                [class.opacity-50]="!canGoNext()" 
                [class.cursor-not-allowed]="!canGoNext()"
              >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4" fill="currentColor">
                  <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>