<div class="container mx-auto py-6 font-poppins">
  <header class="flex items-center justify-around mb-6 md:pl-4 w-full">
    <button (click)="goBack()"
      class="flex items-center justify-center bg-[#00AEEF] text-white px-4 py-2 rounded-full mr-4 hover:bg-[#0098D1] transition-colors duration-300 font-poppins">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
      Volver
    </button>
    <app-header [title] [subtitle]="'Empresa y Apoyos'"></app-header>
  </header>

  <!-- Breadcrumbs -->
  <app-breadcrumbs></app-breadcrumbs>

  <div class="flex justify-center">
    <div class="spinner " *ngIf="isLoading"></div>
  </div>

  <div *ngIf="!isLoading">
    <!-- transicion basada en el estado -->
    <div class="flex items-center justify-center w-full px-4">
      <div class="flex flex-col justify-around flex-1 mx-2 text-center sm:flex-row sm:mx-4 ">
        <div *ngFor="let contenedor of [1, 2, 3,]; let i = index" class="mb-2 contenedor sm:mb-0 "
          [class.active]="i === currentIndex">
          <div
            class="flex items-center justify-center w-8 h-8 mx-auto text-base border rounded-full step-number md:text-xl "
            [ngClass]="{'text-yellow-500 border-blue-500': i === currentIndex, 'text-gray-400 border-gray-400': i !== currentIndex}">
            {{ i + 1 }}
          </div>
          <ng-container *ngIf="i === 0">
            <h2 [ngClass]="{'text-yellow-500': i === currentIndex, 'text-gray-400': i !== currentIndex}"
              class="mt-2 overflow-hidden text-base font-bold truncate md:text-xl whitespace-nowrap font-poppins">
              Datos basicos
            </h2>
          </ng-container>
          <ng-container *ngIf="i === 1">
            <h2 [ngClass]="{'text-yellow-500': i === currentIndex, 'text-gray-400': i !== currentIndex}"
              class="mt-2 overflow-hidden text-base font-bold truncate md:text-xl whitespace-nowrap font-poppins">
              Datos Profesionales
            </h2>
          </ng-container>
          <ng-container *ngIf="i === 2">
            <h2 [ngClass]="{'text-yellow-500': i === currentIndex, 'text-gray-400': i !== currentIndex}"
              class="mt-2 overflow-hidden text-base font-bold truncate md:text-xl whitespace-nowrap font-poppins">
              Datos apoyos
            </h2>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- Datos Basicos Lider -->
    <ng-container *ngIf="showFirstSection">
      <div *ngIf="currentSubSectionIndex === 0">
        <div class="max-w-full space-y-2 md:px-8">
          <div class="p-4 rounded-lg shadow-md bg-gray-50 md:p-8 md:my-6">
            <!-- Leyenda de campos obligatorios -->
            <p class="text-sm text-gray-600 mb-6">Los campos marcados con <span class="text-red-500 font-bold">*</span> son obligatorios.</p>
            <div class="container px-4 py-12 mx-auto">
              <form [formGroup]="addEmpresaForm" (ngSubmit)="crearEmpresa()">
                <div class="col-span-12 rounded-lg">
                  <div class="flex flex-col">
                    <div class="grid grid-cols-1 gap-6 mb-6 lg:grid-cols-3 md:grid-cols-2">
                      <div class="relative w-full text-base">
                        <label for="nombre" class="text-lg font-normal">Nombre:<span class="text-red-500 ml-1">*</span></label>
                        <input type="text" formControlName="nombre"
                          class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100"
                          [ngClass]="{'border-red-500': f['nombre'].invalid && (f['nombre'].dirty || f['nombre'].touched)}">
                        <div *ngIf="f['nombre'].invalid && (submitted || f['nombre'].dirty || f['nombre'].touched)"
                          class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                          <div *ngIf="f.nombre.errors.required">Este campo es requerido *</div>
                          <div *ngIf="f.nombre.errors.hasNumbers">Este campo no puede contener números*</div>
                        </div>
                      </div>

                      <div class="relative w-full text-base">
                        <label for="correo" class="text-lg font-normal">Correo Electrónico:<span class="text-red-500 ml-1">*</span></label>
                        <input type="email" formControlName="correo"
                          class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100"
                          [ngClass]="{'border-red-500': f['correo'].invalid && (f['correo'].dirty || f['correo'].touched)}">
                        <div *ngIf="f['correo'].invalid && (submitted || f['correo'].dirty || f['correo'].touched)"
                          class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                          <span *ngIf="f['correo'].errors?.['required']">Este campo es requerido *</span>
                          <span *ngIf="f['correo'].errors?.['email']">Ingrese un Correo valido</span>
                        </div>
                      </div>

                      <div class="relative w-full text-base">
                        <label for="tipodocumento" class="text-lg font-normal">Tipo de Documento:<span class="text-red-500 ml-1">*</span></label>
                        <select id="tipoDocumento" formControlName="id_tipo_documento"
                          class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg  focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100 max-sm:text-sm"
                          [ngClass]="{'border-red-500': f['id_tipo_documento'].invalid && (f['id_tipo_documento'].dirty || f['id_tipo_documento'].touched)}">
                          <option value="" disabled selected>Selecciona el tipo de documento...</option>
                          <option *ngFor="let tipo of listTipoDocumento" [value]="tipo.id">{{ tipo.nombre }}</option>
                        </select>
                        <div
                          *ngIf="f['id_tipo_documento'].invalid && (submitted || f['id_tipo_documento'].dirty || f['id_tipo_documento'].touched)"
                          class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                          <div *ngIf="f.id_tipo_documento.errors.required">Este campo es requerido *</div>
                        </div>
                      </div>

                      <div class="relative w-full text-base">
                        <label for="documento" class="text-lg font-normal">Número Documento Emprendedor:<span class="text-red-500 ml-1">*</span></label>
                        <input
                          class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100"
                          formControlName="documento"
                          [ngClass]="{'border-red-500': f['documento'].invalid && (f['documento'].dirty || f['documento'].touched)}">
                        <div
                          *ngIf="f['documento'].invalid && (submitted || f['documento'].dirty || f['documento'].touched)"
                          class="inline-block mt-2 text-sm text-red-500 bg-red-50 p-2 rounded-lg" role="alert">
                          <div *ngIf="f.documento.errors.required">Este campo es requerido *</div>
                          <div *ngIf="f.documento.errors.lengthError">El número de documento debe tener entre 5 y 13
                            dígitos *</div>
                          <div *ngIf="f.documento.errors.hasLetters">El número de documento no puede contener letras
                          </div>
                        </div>
                      </div>

                      <div class="relative w-full text-base">
                        <label for="razonSocial" class="text-lg font-normal">Razón Social:<span class="text-red-500 ml-1">*</span></label>
                        <input
                          class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100"
                          formControlName="razonSocial"
                          [ngClass]="{'border-red-500': f['razonSocial'].invalid && (f['razonSocial'].dirty || f['razonSocial'].touched)}">
                        <div
                          *ngIf="f['razonSocial'].invalid && (submitted || f['razonSocial'].dirty || f['razonSocial'].touched)"
                          class="inline-block mt-2 text-sm text-red-500 bg-red-50 p-2 rounded-lg" role="alert">
                          <div *ngIf="f.razonSocial.errors.required">Este campo es requerido *</div>
                        </div>
                      </div>

                      <div class="relative w-full text-base">
                        <label for="departamento" class="text-lg font-normal">Departamento:<span class="text-red-500 ml-1">*</span></label>
                        <select id="departamento" name="departamento"
                          (change)="onDepartamentoSeleccionado($event.target.value)" formControlName="id_departamento"
                          (change)="onDepartamentoSeleccionado($event)"
                          class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg  focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100 max-sm:text-sm"
                          [ngClass]="{'border-red-500': f['id_departamento'].invalid && (f['id_departamento'].dirty || f['id_departamento'].touched)}">
                          <option value="" disabled selected>
                            Seleccionar Departamento...
                          </option>
                          <option *ngFor="let departamento of listDepartamentos" [value]="departamento.id">
                            {{ departamento.name }}
                          </option>
                        </select>
                        <div
                          *ngIf="f['id_departamento'].invalid && (submitted || f['id_departamento'].dirty || f['id_departamento'].touched)"
                          class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                          <div *ngIf="f.id_departamento.errors.required">Este campo es requerido *</div>
                        </div>
                      </div>
                      <div class="relative w-full text-base">
                        <label for="municipio" class="text-lg font-normal">Municipio:<span class="text-red-500 ml-1">*</span></label>
                        <select id="municipio" name="municipio" formControlName="id_municipio"
                          class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg  focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100 max-sm:text-xs"
                          [ngClass]="{'border-red-500': f['id_municipio'].invalid && (f['id_municipio'].dirty || f['id_municipio'].touched)}">
                          <option value="" disabled selected>
                            Seleccionar Municipio...
                          </option>
                          <option *ngFor="let municipio of listMunicipios" [value]="municipio.id">{{municipio.nombre}}
                          </option>
                        </select>
                        <div
                          *ngIf="f['id_municipio'].invalid && (submitted || f['id_municipio'].dirty || f['id_municipio'].touched)"
                          class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                          <div *ngIf="f.id_municipio.errors.required">Este campo es requerido *</div>
                        </div>
                      </div>

                      <div class="relative w-full text-base">
                        <label for="direccion" class="text-lg font-normal">Dirección del emprendimiento:<span class="text-red-500 ml-1">*</span></label>
                        <input
                          class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100"
                          formControlName="direccion"
                          [ngClass]="{'border-red-500': f['direccion'].invalid && (f['direccion'].dirty || f['direccion'].touched)}">
                        <div
                          *ngIf="f['direccion'].invalid && (submitted || f['direccion'].dirty || f['direccion'].touched)"
                          class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                          <div *ngIf="f.direccion.errors.required">Este campo es requerido *</div>
                        </div>
                      </div>

                      <div class="relative w-full text-base">
                        <label for="telefono" class="text-lg font-normal">Teléfono:<span class="text-red-500 ml-1">*</span></label>
                        <input
                          class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100"
                          formControlName="telefono"
                          [ngClass]="{'border-red-500': f['telefono'].invalid && (f['telefono'].dirty || f['telefono'].touched)}">
                        <div
                          *ngIf="f['telefono'].invalid && (submitted || f['telefono'].dirty || f['telefono'].touched)"
                          class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                          <div *ngIf="f.telefono.errors.required">Este campo es requerido *</div>
                          <div *ngIf="f.telefono.errors.maxlength">El número de telefono no debe tener más de 10
                            dígitos*
                          </div>
                          <div *ngIf="f.telefono.errors.hasLetters">El número de telefono no puede contener letras*
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="grid grid-cols-1 gap-4 mb-6 lg:grid-cols-3 md:grid-cols-2">
                      <div class="relative w-full text-base">
                        <label for="celular" class="text-lg font-normal">Celular:<span class="text-red-500 ml-1">*</span></label>
                        <input
                          class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100"
                          formControlName="celular"
                          [ngClass]="{'border-red-500': f['celular'].invalid && (f['celular'].dirty || f['celular'].touched)}">
                        <div *ngIf="f['celular'].invalid && (submitted || f['celular'].dirty || f['celular'].touched)"
                          class="inline-block mt-2 text-sm text-red-500 bg-red-50 p-2 rounded-lg" role="alert">
                          <div *ngIf="f.celular.errors.required">Este campo es requerido *</div>
                          <div *ngIf="f.celular.errors.maxlength">El número de celular no debe tener más de 10 dígitos
                          </div>
                          <div *ngIf="f.celular.errors.hasLetters">El número de celular no puede contener letras</div>
                        </div>
                      </div>

                      <div class="relative w-full text-base">
                        <label for="url_pagina" class="text-lg font-normal">Página web:</label>
                        <input
                          class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100"
                          formControlName="url_pagina" />
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="flex justify-center h-auto">
            <button type="button" (click)="next()"
              class="inline-block py-2 px-16 bg-[#FA7D00] text-lg text-white font-bold rounded-full transition duration-300 mb-2">
              <span class="px-2">Siguiente</span>
              <!-- <fa-icon [icon]="faArrowRight" class="text-white"></fa-icon> -->
            </button>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Datos Profesionales Lider -->
    <ng-container *ngIf="showSecondSection">
      <div *ngIf="currentSubSectionIndex === 0">
        <div class="max-w-full space-y-2 md:px-8">
          <div class="p-4 rounded-lg shadow-md bg-gray-50 md:p-8 md:my-5">
            <!-- Leyenda de campos obligatorios -->
            <p class="text-sm text-gray-600 mb-6">Los campos marcados con <span class="text-red-500 font-bold">*</span> son obligatorios.</p>
            <div class="container px-4 py-12 mx-auto">
              <form [formGroup]="addEmpresaForm" (ngSubmit)="crearEmpresa()">
                <div class="grid grid-cols-1 gap-4 mb-6 md:grid-cols-2">
                  <div class="relative w-full text-base">
                    <label for="profesion" class="text-lg font-normal">Profesión:<span class="text-red-500 ml-1">*</span></label>
                    <fa-icon [icon]="falupa" class="text-sm inline-block ml-1" mat-raised-button
                      matTooltip="El tamaño maximo son 50 caracteres."
                      matTooltipPosition="right" style="color: #adb7c7;">
                    </fa-icon>
                    <input maxlength="50"
                      class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100"
                      formControlName="profesion"
                      [ngClass]="{'border-red-500': f['profesion'].invalid && (f['profesion'].dirty || f['profesion'].touched)}">
                    <div *ngIf="f['profesion'].invalid && (submitted || f['profesion'].dirty || f['profesion'].touched)"
                      class="inline-block mt-2 text-sm text-red-500 bg-red-50 p-2 rounded-lg" role="alert">
                      <div *ngIf="f.profesion.errors.required">Este campo es requerido *</div>
                    </div>
                  </div>
                  <div class="relative w-full text-base">
                    <label for="cargo" class="text-lg font-normal">Cargo:<span class="text-red-500 ml-1">*</span></label>
                    <fa-icon [icon]="falupa" class="text-sm inline-block ml-1" mat-raised-button
                      matTooltip="El tamaño maximo son 50 caracteres."
                      matTooltipPosition="right" style="color: #adb7c7;">
                    </fa-icon>
                    <input maxlength="50"
                      class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100"
                      formControlName="cargo"
                      [ngClass]="{'border-red-500': f['cargo'].invalid && (f['cargo'].dirty || f['cargo'].touched)}">
                    <div *ngIf="f['cargo'].invalid && (submitted || f['cargo'].dirty || f['cargo'].touched)"
                      class="inline-block mt-2 text-sm text-red-500 bg-red-50 p-2 rounded-lg" role="alert">
                      <div *ngIf="f.cargo.errors.required">Este campo es requerido *</div>
                    </div>
                  </div>
                  <div class="relative w-full text-base">
                    <label for="experiencia" class="text-lg font-normal">Experiencia:<span class="text-red-500 ml-1">*</span></label>
                    <textarea formControlName="experiencia" maxlength="300" (input)="updateCharCount()"
                      class="w-full h-40 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100"
                      rows="2" cols="20"
                      [ngClass]="{'border-red-500': f['experiencia'].invalid && (f['experiencia'].dirty || f['experiencia'].touched)}"></textarea>
                    <div
                      *ngIf="f['experiencia'].invalid && (submitted || f['experiencia'].dirty || f['experiencia'].touched)"
                      class="inline-block mt-2 text-sm text-red-500 bg-red-50 p-2 rounded-lg" role="alert">
                      <div *ngIf="f.experiencia.errors.required">Este campo es requerido *</div>
                    </div>
                    <div class="text-sm text-gray-500 mt-1">
                      {{ charCount }} / 300 caracteres
                    </div>
                  </div>
                  <div class="relative w-full text-base">
                    <label for="funciones" class="text-lg font-normal">Funciones:<span class="text-red-500 ml-1">*</span></label>
                    <textarea formControlName="funciones" maxlength="300" (input)="updateCharCountFunciones()"
                      class="w-full h-40 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100"
                      rows="4" cols="30"></textarea>
                    <div *ngIf="f['funciones'].invalid && (submitted || f['funciones'].dirty || f['funciones'].touched)"
                      class="inline-block mt-2 text-sm text-red-500 bg-red-50 p-2 rounded-lg" role="alert">
                      <div *ngIf="f.funciones.errors.required">Este campo es requerido *</div>
                    </div>
                    <div class="text-sm text-gray-500 mt-1">
                      {{ charCountFunciones }} / 300 caracteres
                    </div>
                  </div>
                </div>
                <div class="flex items-center justify-center lg:justify-end" *ngIf="id_documentoEmpresa">
                  <span class="mr-3 text-amber-500 text-[25px] italic mb-1" style="font-weight: 900;">Editar
                    Apoyo</span>
                  <button (click)="next()"
                    class="flex items-center justify-center w-10 h-8 text-white rounded-lg bg-amber-500">
                    <span class="text-3xl font-semibold leading-none">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4" fill="currentColor">
                        <path
                          d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z" />
                      </svg>
                    </span>
                  </button>
                </div>

              </form>
            </div>
          </div>
          <div class="flex flex-col justify-center gap-2 mb-2 md:flex-row max-sm:pb-2">
            <div class="flex flex-row items-center gap-2 max-md:mx-auto">
              <button
                class="py-2 w-[150px] bg-[#373435] text-base sm:text-lg text-white font-bold rounded-full transition duration-300"
                (click)="previous()">
                Anterior
              </button>
              <button type="button" (click)="crearEmpresa()" *ngIf="!id_documentoEmpresa"
                class="py-2 w-[150px] bg-[#FA7D00] mx-auto text-base sm:text-lg text-white font-bold rounded-full transition duration-300 text-center whitespace-normal">
                <span class="block">Crear Empresa</span>
              </button>
              <button id="guardar" (click)="editEmpresa()" *ngIf="id_documentoEmpresa"
                class="py-2 w-[150px] bg-[#FA7D00] mx-auto text-base sm:text-xl text-white font-bold rounded-full transition duration-300 text-center whitespace-normal">
                Guardar
              </button>
            </div>
            <button type="button" (click)="cancel()" *ngIf="id_documentoEmpresa"
              class="py-2 w-[150px] bg-[#373435] max-md:mx-auto text-base sm:text- text-white font-bold rounded-full transition duration-300 text-center whitespace-normal">
              <span class="block">Restablecer</span>
              <!-- <fa-icon [icon]="faArrowRight" class="text-white"></fa-icon> -->
            </button>
            <button type="button" (click)="next()" *ngIf="!id_documentoEmpresa"
              class="py-2 w-[150px] bg-[#FA7D00] max-md:mx-auto text-base sm:text-lg text-white font-bold rounded-full transition duration-300 text-center whitespace-normal">
              <span class="block">Agregar Apoyo</span>
              <!-- <fa-icon [icon]="faArrowRight" class="text-white"></fa-icon> -->
            </button>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Datos apoyos -->
    <div>
      <ng-container *ngIf="showThirdSection">
        <div *ngIf="currentSubSectionIndex === 0">
          <div class="max-w-full space-y-2 md:px-8">
            <div class="p-4 rounded-lg shadow-md bg-gray-50 md:p-8 md:my-6">
              <!-- Leyenda de campos obligatorios -->
              <p class="text-sm text-gray-600 mb-6">Los campos marcados con <span class="text-red-500 font-bold">*</span> son obligatorios.</p>
              <div class="container px-4 py-12 mx-auto">
                <form [formGroup]="addApoyoEmpresaForm" (ngSubmit)="crearEmpresa()">

                  <div *ngIf="!ocultarSinApoyo">
                    <div class="flex justify-center w-full" *ngIf="id_documentoEmpresa && mostrarBotonEditar">

                      <label for="apoyoSelect" class="text-lg font-normal text-center text-amber-500">Seleccione apoyo
                        a
                        editar</label>
                    </div>

                    <div class="w-full text-base relative text-center flex justify-center"
                      *ngIf="id_documentoEmpresa && mostrarBotonEditar">

                      <div class="grid grid-cols-1 lg:grid-cols-1 md:grid-cols-1  gap-6 mb-6 flex-none justify-center">
                        <select id="apoyoSelect" formControlName="documento"
                          (change)="onApoyoSelect($event.target.value)"
                          class="p-2 w-full h-10 mb-2 px-20 border-blue-300 rounded-lg bg-gray-200  focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100 max-sm:text-sm">
                          <option value="" disabled selected>Selecciona el apoyo...</option>
                          <option *ngFor="let apoyo of listaApoyo" [value]="apoyo.documento" [selected]="apoyo.documento === selectedApoyoDocumento">{{ apoyo.nombre }} {{
                            apoyo.apellido }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2  gap-6 mb-6">
                    <div class="w-full text-base relative">
                      <label for="nombre" class="text-lg font-normal">Nombre:<span class="text-red-500 ml-1">*</span></label>
                      <input formControlName="nombre"
                        class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100"
                        [ngClass]="{'border-red-500': g['nombre'].invalid && (g['nombre'].dirty || g['nombre'].touched)}">
                      <div *ngIf="g['nombre'].invalid && (submitted || g['nombre'].dirty || g['nombre'].touched)"
                        class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                        <div *ngIf="g.nombre.errors.required">Este campo es requerido *</div>
                        <div *ngIf="g.nombre.errors.hasNumbers">Este campo no puede contener números</div>
                        <div *ngIf="g.nombre.errors.minlength">El nombre debe tener al menos 4 caracteres</div>
                      </div>
                    </div>

                    <div class="w-full text-base relative">
                      <label for="apellido" class="text-lg font-normal">Apellido:<span class="text-red-500 ml-1">*</span></label>
                      <input formControlName="apellido"
                        class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100"
                        [ngClass]="{'border-red-500': g['apellido'].invalid && (g['apellido'].dirty || g['apellido'].touched)}">
                      <div *ngIf="g['apellido'].invalid && (submitted || g['apellido'].dirty || g['apellido'].touched)"
                        class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                        <div *ngIf="g.apellido.errors.required">Este campo es requerido *</div>
                        <div *ngIf="g.apellido.errors.hasNumbers">Este campo no puede contener números</div>
                      </div>
                    </div>

                    <div class="relative w-full text-base">
                      <label for="tipodocumento" class="text-lg font-normal">Tipo de Documento:<span class="text-red-500 ml-1">*</span></label>
                      <select id="tipoDocumento" formControlName="id_tipo_documento"
                        class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200  focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                        [ngClass]="{'border-red-500': g['id_tipo_documento'].invalid && (g['id_tipo_documento'].dirty || g['id_tipo_documento'].touched)}">
                        <option value="" disabled selected>Selecciona el tipo de documento...</option>
                        <option *ngFor="let tipo of listTipoDocumento" [value]="tipo.id">{{ tipo.nombre }}</option>
                      </select>
                      <div
                        *ngIf="g['id_tipo_documento'].invalid && (submitted || g['id_tipo_documento'].dirty || g['id_tipo_documento'].touched)"
                        class="inline-block mt-2 text-sm text-red-500 bg-red-50 p-2 rounded-lg" role="alert">
                        <div *ngIf="g.id_tipo_documento.errors.required">Este campo es requerido *</div>
                      </div>
                    </div>

                    <div class="relative w-full text-base">
                      <label for="numeroDocumento" class="text-lg font-normal">Número de documento:<span class="text-red-500 ml-1">*</span></label>
                      <input formControlName="documento"
                        class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100"
                        [ngClass]="{'border-red-500': g['documento'].invalid && (g['documento'].dirty || g['documento'].touched)}">
                      <div
                        *ngIf="g['documento'].invalid && (submitted || g['documento'].dirty || g['documento'].touched)"
                        class="inline-block mt-2 text-sm text-red-500 bg-red-50 p-2 rounded-lg" role="alert">
                        <div *ngIf="g.documento.errors.required">Este campo es requerido *</div>
                        <div *ngIf="g.documento.errors.lengthError">El número de documento debe tener entre 5 y 13
                          dígitos*</div>
                        <div *ngIf="g.documento.errors.hasLetters">El número de documento no puede contener letras</div>
                      </div>
                    </div>

                    <div class="relative w-full text-base">
                      <label for="cargo" class="text-lg font-normal">Cargo:<span class="text-red-500 ml-1">*</span></label>
                      <input formControlName="cargo"
                        class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100"
                        [ngClass]="{'border-red-500': g['cargo'].invalid && (g['cargo'].dirty || g['cargo'].touched)}">
                      <div *ngIf="g['cargo'].invalid && (submitted || g['cargo'].dirty || g['cargo'].touched)"
                        class="inline-block mt-2 text-sm text-red-500 bg-red-50 p-2 rounded-lg" role="alert">
                        <div *ngIf="g.cargo.errors.required">Este campo es requerido *</div>
                      </div>
                    </div>

                    <div class="relative w-full text-base">
                      <label for="correo" class="text-lg font-normal">Correo:<span class="text-red-500 ml-1">*</span></label>
                      <input formControlName="email" type="email"
                        class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100"
                        [ngClass]="{'border-red-500': g['email'].invalid && (g['email'].dirty || g['email'].touched)}">
                      <div *ngIf="g['email'].invalid && (submitted || g['email'].dirty || g['email'].touched)"
                        class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                        <div *ngIf="g.email.errors.required">Este campo es requerido *</div>
                        <div *ngIf="g.email.errors.email">El formato del correo no es válido*</div>
                      </div>
                    </div>

                    <div class="relative w-full text-base">
                      <label for="celular" class="text-lg font-normal">Celular:<span class="text-red-500 ml-1">*</span></label>
                      <input formControlName="celular"
                        class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100"
                        [ngClass]="{'border-red-500': g['celular'].invalid && (g['celular'].dirty || g['celular'].touched)}">
                      <div *ngIf="g['celular'].invalid && (submitted || g['celular'].dirty || g['celular'].touched)"
                        class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                        <div *ngIf="g.celular.errors.required">Este campo es requerido *</div>
                        <div *ngIf="g.celular.errors.maxlength">El número de celular no debe tener más de 10 dígitos*
                        </div>
                        <div *ngIf="g.celular.errors.hasLetters">El número de celular no puede contener letras*</div>
                      </div>
                    </div>

                    <div class="relative w-full text-base">
                      <label for="fijo" class="text-lg font-normal">Teléfono:</label>
                      <input formControlName="telefono"
                        class="w-full h-10 p-2 mb-2 transition duration-200 ease-in bg-gray-200 border-blue-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 hover:bg-blue-100 focus:bg-blue-100" />
                      <div *ngIf="g['telefono'].invalid && (submitted || g['telefono'].dirty || g['telefono'].touched)"
                        class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                        <div *ngIf="g.telefono.errors.required">Este campo es requerido *</div>
                        <div *ngIf="g.telefono.errors.maxlength">El número de telefono no debe tener más de 10 dígitos*
                        </div>
                        <div *ngIf="g.telefono.errors.hasLetters">El número de telefono no puede contener letras*</div>
                      </div>
                    </div>

                    <div class="flex items-center justify-center lg:justify-end"
                      *ngIf="mostrarBotonEditar && id_documentoEmpresa && !ocultarSinApoyo">
                      <span class="mr-3 text-amber-500 text-[25px] italic mb-1" style="font-weight: 900;">Agregar
                        Apoyo</span>
                      <button (click)="limpiarYCambiarBotones()"
                        class="flex items-center justify-center w-16 h-8 text-white rounded-lg bg-amber-500">
                        <span class="text-3xl font-semibold leading-none">+</span>
                      </button>
                    </div>

                  </div>
                </form>
              </div>
            </div>
            <div class="flex justify-center h-auto pb-2">
              <button *ngIf="id_documentoEmpresa && mostrarBotonEditar || ocultarSinApoyo"
                class="py-2 mr-3 px-4 max-md:mt-2 sm:px-8 bg-[#373435] text-base sm:text-xl text-white font-bold rounded-full transition duration-300 text-center whitespace-normal"
                (click)="previous()">
                Anterior
              </button>
              <div class="flex justify-end">
                <button *ngIf="mostrarBotonesNuevos"
                  class="py-2 mr-3 px-4 max-md:mt-2 sm:px-8 bg-[#373435] text-base sm:text-xl text-white font-bold rounded-full transition duration-300 text-center whitespace-normal"
                  (click)="cancel()">
                  Cancelar
                </button>
                <button id="guardar" (click)="crearApoyo()"
                  *ngIf="mostrarBotonesNuevos || ocultarSinApoyo && !isEditing && !esVistaCreacion"
                  class="py-2 px-4 max-md:mt-2 sm:px-8 bg-[#FA7D00] text-base sm:text-xl text-white font-bold rounded-full transition duration-300 text-center whitespace-normal">
                  Guardar Apoyo
                </button>
              </div>
              <button id="guardar" (click)="crearEmpresa()" *ngIf="!id_documentoEmpresa && ocultarSinApoyo"
                class="py-2 px-4 max-md:mt-2 sm:px-8 bg-[#FA7D00] text-base sm:text-xl text-white font-bold rounded-full transition duration-300 text-center whitespace-normal">
                Guardar Apoyo
              </button>
              <button id="guardar" (click)="editarApoyo()"
                *ngIf="id_documentoEmpresa && mostrarBotonEditar && !ocultarSinApoyo"
                class="py-2 px-4 max-md:mt-2 sm:px-8 bg-[#FA7D00] text-base sm:text-xl text-white font-bold rounded-full transition duration-300 text-center whitespace-normal">
                Editar apoyo
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>