<app-header [title]="'Bienvenido al panel de empresas'"
    [subtitle]="'Aqui podras ver y gestionar tus empresas'"></app-header>
<div class="flex justify-center items-center h-full md:w-full">
    <div class="justify-center items-center w-4/6 max-md:w-72">
        <div class="headers md:flex md:justify-between md:mb-6 pl-10 pr-8">
            <h2 class="hidden md:block md:w-28 whitespace-nowrap overflow-hidden text-center font-bold">Empresas</h2>
            <h2 class="hidden md:block md:w-28 whitespace-nowrap overflow-hidden text-center font-bold">Telefono</h2>
            <h2 class="hidden md:block md:w-28 whitespace-nowrap overflow-hidden text-center font-bold">Dirección</h2>
            <h2 class="hidden md:block md:w-16 md:mr-7 whitespace-nowrap overflow-hidden text-center font-bold">Editar
            </h2>
        </div>
        <div class="contenido">
            <div *ngFor="let empresa of listaEmpresas  | paginate: { itemsPerPage: 5, currentPage: page }"
                class="info-empresa  max-md:h-auto md:w-auto md:flex justify-between text-center mb-4 md:py-4 max-md:pl-3 bg-neutral-200 rounded-md">
                <div class="flex max-md:pt-3 px-2 max-md:h-10">
                    <div class="max-md:flex">
                        <h3 class="block md:hidden mr-1 font-bold ">Empresa: </h3>
                        <h3 class="md:w-40 max-md:w-32 whitespace-nowrap overflow-hidden max-md:h-6 text-start md:pl-4 md:pt-2"
                            style="text-overflow: ellipsis;">
                            {{empresa.nombre }}</h3>
                        <fa-icon [icon]="faPen"
                            class=" text-xl right-5 top-1/2 transform -translate-y-1/2 max-md:h-5 md:hidden pl-8 pt-2 "></fa-icon>
                    </div>

                </div>
                <div class="flex px-2 max-md:h-7">
                    <h3 class="block md:hidden mr-1 font-bold ">Telefono: </h3>
                    <h3 class="md:w-26 whitespace-nowrap overflow-hidden max-md:h-6  md:pt-2"
                        style="text-overflow: ellipsis;">
                        {{empresa.telefono }}</h3>
                </div>
                <div class="flex  px-2 max-md:h-8">
                    <h3 class="block md:hidden mr-1 font-bold ">Dirección: </h3>
                    <h3 class="md:w-40 md:pr-2 whitespace-nowrap overflow-hidden max-md:h-6  md:pt-2"
                        style="text-overflow: ellipsis;">
                        {{empresa.direccion }}</h3>
                </div>
                <div class="flex justify-center  px-2 ">
                    <h3 class="block md:hidden"></h3>
                    <h3 class="md:w-11 md:mr-9 md:pr-14 max-md:absolute max-md:right-56 md:pt-2">
                        <fa-icon [icon]="faPen"
                            class=" text-xl right-5 top-1/2 transform -translate-y-1/2 max-md:h-5  max-md:hidden  "></fa-icon>
                    </h3>
                </div>

            </div>

            <div class="text-center max-md:pr-10">
                <pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
                    nextLabel="Siguiente"></pagination-controls>
            </div>
        </div>
    </div>
</div>