<div class="container mx-auto py-6 font-poppins">
  <!-- Encabezado -->
  <header class="flex flex-col items-center justify-between mb-6 md:flex-row md:pl-16">
    <app-header [title]="''" [subtitle]="'Dashboard SuperAdmin'"></app-header>
  </header>

  <app-breadcrumbs></app-breadcrumbs>

  <!-- Spinner -->
  <div class="flex flex-col justify-center items-center" *ngIf="isLoading">
    <div class="spinner"></div>
    <h2 class="font-poppins text-amber-500">Cargando</h2>
  </div>

  <div class="p-2 sm:p-6 md:p-8 lg:p-12 xl:p-20" *ngIf="!isLoading">
    <div class="grid grid-cols-1 gap-4 mb-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5">
      <!-- Tarjetas de estadísticas -->
      <ng-container *ngFor="let item of estadisticas; trackBy: trackById">
        <div class="relative w-full h-40 p-3 bg-white rounded-lg shadow-lg">
          <div class="absolute -top-5 left-4">
            <div class="p-3 rounded-lg shadow-md" [ngClass]="item.bgColor">
              <svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z">
              </path>
            </svg>
            </div>
          </div>
          <div class="pt-8 pb-0">
            <p class="text-xl text-gray-500">{{ item.titulo }}</p>
          </div>
          <div class="pt-1 border-t border-gray-200">
            <div class="flex justify-between text-center">
              <div class="w-1/2 pr-1">
                <p class="font-semibold text-md">Activos</p>
                <p class="text-lg font-bold text-green-600">{{ item.activos }}</p>
              </div>
              <div class="self-stretch w-px bg-gray-200"></div>
              <div class="w-1/2 pl-1">
                <p class="font-semibold text-md">Inactivos</p>
                <p class="text-lg font-bold text-red-600">{{ item.inactivos }}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Gráficas principales -->
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
      <!-- Mapa de Emprendedores por Departamento -->
      <div class="overflow-hidden bg-white rounded-lg shadow-lg">
        <div class="h-[400px]">
          <app-echart [options]="emprenDeparEchartsOptions"></app-echart>
        </div>
      </div>

      <!-- Gráfica de Radar de Puntajes por Formulario -->
      <div class="overflow-hidden bg-white rounded-lg shadow-lg">
        <div class="p-6 h-[500px] flex flex-col">
          <div class="flex mb-4 space-x-4">
            <select id="empresa-select" class="w-1/2 p-2 border rounded-md"
              (change)="onEmpresaChange($event.target.value)">
              <option value="" disabled selected>Seleccione una empresa</option>
              <option *ngFor="let empresa of listEmpresas; trackBy: trackByEmpresa" [value]="empresa.documento">{{ empresa.nombre }}</option>
            </select>
            <select id="opcion-select" class="w-1/2 p-2 border rounded-md" (change)="onSelectChange($event)">
              <option value="" disabled selected>Seleccione una opción</option>
              <option value="1">Primera Vez</option>
              <option value="2">Segunda Vez</option>
            </select>
          </div>
          <div class="flex-grow">
            <app-echart [options]="getPuntajesForm"></app-echart>
          </div>
        </div>
      </div>
    </div>

    <!-- Gráficas adicionales -->
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 sm:gap-6 mt-14">
      <!-- Asesorías Asignadas y Sin Asignar -->
      <div class="p-4 my-auto bg-white rounded-lg shadow">
        <h2 class="mb-4 text-lg font-semibold">Asesorías</h2>
        <div class="w-full h-48 sm:h-56 md:h-64 lg:h-72">
          <app-echart [options]="pieChartOption"></app-echart>
        </div>
      </div>

      <!-- Top Aliados -->
      <div class="p-4 my-auto bg-white rounded-lg shadow">
        <h2 class="mb-4 text-lg font-semibold">Top Aliados - Asesorías</h2>
        <div class="w-full h-48 sm:h-56 md:h-64 lg:h-72">
          <app-echart [options]="topAliadosEchartsOptions"></app-echart>
        </div>
      </div>

      <!-- Géneros Emprendedores -->
      <div class="p-4 my-auto bg-white rounded-lg shadow">
        <h2 class="mb-4 text-lg font-semibold">Géneros Emprendedores</h2>
        <div class="w-full h-48 sm:h-56 md:h-64 lg:h-72">
          <app-echart [options]="doughnutChartOption"></app-echart>
        </div>
      </div>
    </div>

    <!-- Gráficas de Registros y Promedio de Asesorías -->
    <div class="grid grid-cols-1 gap-4 mb-8 md:grid-cols-2 sm:gap-6 mt-14">
      <!-- Registros Mensuales -->
      <div class="p-4 bg-white rounded-lg shadow">
        <h2 class="mb-4 text-lg font-semibold">Registros Mensuales</h2>
        <div class="w-full h-80 sm:h-56 md:h-64 lg:h-72">
          <app-echart [options]="registrosEchartsOptions"></app-echart>
        </div>
      </div>

      <!-- Promedio de Asesorías -->
      <div class="p-4 bg-white rounded-lg shadow">
        <div class="flex items-center justify-between mb-2">
          <h2 class="text-lg font-semibold text-gray-700">Promedio de Asesorías</h2>
          <div>
            <label for="yearSelect" class="mr-2 text-sm text-gray-600">Año:</label>
            <select name="year" [(ngModel)]="selectedYear" (change)="onYearChange(selectedYear)"
              class="w-20 px-2 py-1 text-sm border rounded bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500">
              <option *ngFor="let year of years; trackBy: trackByYear" [value]="year">{{ year }}</option>
            </select>
          </div>
        </div>
        <div class="w-full h-80 sm:h-56 md:h-64 lg:h-72">
          <app-echart [options]="promedioAsesoriasEchartsOptions"></app-echart>
        </div>
      </div>
    </div>
  </div>
</div>
