<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div
    class="absolute top-0 left-0 w-full  min-h-screen bg-cover bg-custom-150px md:bg-center bg-no-repeat bg-[url('./assets/images/fondoRegister.webp')] md:text-[16px]">

    <div class="grid content-center justify-center min-h-screen my-4 font-poppins">
        <div class="grid content-center justify-center grid-cols-1 gap-2 md:grid-cols-3">
            <!-- columna 1 -->
            <div class="col-span-1 md:content-center ">
                <div class="flex items-center justify-center">
                    <div class="w-[250px] h-[180px]">
                        <img src="../../../../assets/images/logoSeed_blanco.webp" class="w-[100%] h-[100%]  md:mt-14"
                            alt="">
                    </div>
                </div>
            </div>

            <div class="col-span-2 ">
                <h2 class="text-[#fff] text-center mt-4 md:font-[500] h-12 font-poppins">
                    ¿Ya tienes una cuenta?
                    <a class="no-underline" [routerLink]="['/auth/login']">
                        <span class="text-[#00B3ED]">Iniciar Sesión</span>
                    </a>
                </h2>
                <div class="flex justify-center mt-8 space-x-4 ">
                    <!-- Barra de progreso -->
                    <div class="relative w-full flex items-center  max-w-[25rem] m-2">
                        <div class="absolute left-0 right-0 h-1 bg-[#fcb404]"></div>
                        <div class="absolute left-0 h-1 bg-[#fa7d00] transition-all duration-300 ease-in-out"
                            [style.width.%]="progressWidth"></div>
                        <!-- Apartados del progreso -->
                        <div class="absolute flex justify-between w-full">
                            <div [ngClass]="{'bg-[#fa7d00]': progressWidth >= 1, 'bg-[#fcb404]': progressWidth < 1}"
                                class="flex items-center justify-center w-8 h-8 font-bold text-white transition-all duration-300 ease-in-out rounded-full">
                                1
                            </div>
                            <div [ngClass]="{'bg-[#fa7d00]': progressWidth >= 50, 'bg-[#fcb404]': progressWidth < 50}"
                                class="flex items-center justify-center w-8 h-8 font-bold text-white transition-all duration-300 ease-in-out rounded-full">
                                2
                            </div>
                            <div [ngClass]="{'bg-[#fa7d00]': progressWidth >= 100, 'bg-[#fcb404]': progressWidth < 100}"
                                class="flex items-center justify-center w-8 h-8 font-bold text-white transition-all duration-300 ease-in-out rounded-full">
                                3
                            </div>
                        </div>
                    </div>

                </div>

                <form [formGroup]="registerForm" (ngSubmit)="registro()"
                    class="backdrop-brightness-50 bg-[#fff] bg-opacity-55 backdrop-filter backdrop-opacity-50 rounded-3xl p-4 md:p-8 grid w-full max-w-[18rem]  md:max-w-[25rem] mx-auto mt-10">

                    <div *ngIf="currentIndex === 0" class="grid gap-y-4">
                        <!-- pregunta 1 -->
                        <div>
                            <label for="nombre" class="block text-[#000] truncate">Nombre:</label>
                            <div class="mt-2">
                                <input type="text" id="nombre" formControlName="nombre" (input)="updateProgress()"
                                    class="block w-full rounded-md border-0 p-2 text-[#000] shadow-sm ring-1 ring-inset focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[#00B3ED] sm:text-sm sm:leading-6" />
                            </div>
                            <div *ngIf="submitted && f.nombre.errors" class="max-w-[19rem] overflow-hidden mt-1">
                                <span *ngIf="f.nombre.errors.required"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">Este campo es requerido
                                    *</span>
                                <span *ngIf="f.nombre.errors.hasNumbers"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">El campo no debe contener
                                    números
                                    *</span>
                            </div>
                        </div>

                        <!-- pregunta 2 -->

                        <div>
                            <label for="apellido" class="block truncate">Apellido:</label>
                            <div class="mt-2">
                                <input type="text" id="apellido" formControlName="apellido" (input)="updateProgress()"
                                    class="block w-full rounded-md border-0 p-2 text-[#000] shadow-sm ring-1 ring-inset focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[#00B3ED] sm:text-sm sm:leading-6" />
                            </div>
                            <div *ngIf="submitted && f.apellido.errors" class="max-w-[19rem] overflow-hidden mt-1">
                                <div *ngIf="f.apellido.errors.required"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">Este campo es requerido *
                                </div>
                                <div *ngIf="f.apellido.errors.hasNumbers"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">El campo no debe contener
                                    números
                                    *</div>
                            </div>
                        </div>


                        <!-- pregunta 3 -->
                        <div class="relative">
                            <label for="id_tipo_documento" class="block truncate">Tipo de Documento:</label>
                            <div class="relative">
                                <select id="id_tipo_documento" formControlName="id_tipo_documento"
                                    (change)="updateProgress()"
                                    class="mt-2 p-2 block w-full rounded-md border border-gray-300 py-1.5 text-[#000] shadow-sm focus:ring-2 focus:ring-inset focus:ring-[#00B3ED] focus:outline-none sm:text-sm sm:leading-6 pr-10 appearance-none bg-white">
                                    <option value="" disabled selected>Seleccionar tipo de documento</option>
                                    <option *ngFor="let tipo of listTipoDocumento" [value]="tipo.id">{{ tipo.nombre }}
                                    </option>
                                </select>
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                                    <svg class="h-5 w-5 text-black" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </div>
                            </div>
                            <div *ngIf="submitted && f.id_tipo_documento.errors"
                                class="max-w-[19rem] overflow-hidden mt-1">
                                <div *ngIf="f.id_tipo_documento.errors.required"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">Este campo es requerido *
                                </div>
                            </div>
                        </div>

                        <div>
                            <label for="documento" class="block truncate">Número de Documento:</label>
                            <div class="mt-2">
                                <input type="number" id="documento" formControlName="documento"
                                    (input)="updateProgress()"
                                    class="block w-full rounded-md border-0 p-2 text-[#000] shadow-sm ring-1 ring-inset focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[#00B3ED] sm:text-sm sm:leading-6" />
                            </div>
                            <div *ngIf="submitted && f.documento.errors" class="max-w-[19rem] overflow-hidden mt-1">
                                <div *ngIf="f.documento.errors.required"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">Este campo es requerido *
                                </div>
                                <div *ngIf="f.documento.errors.lengthError"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">{{
                                    f.documento.errors.lengthError
                                    }}</div>
                                <div *ngIf="f.documento.errors.exists"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">El número de documento ya
                                    existe.
                                    Por favor, corrígelo.</div>
                            </div>
                        </div>
                        <div class="flex justify-center">
                            <button (click)="next()"
                                class="mt-4 bg-[#fcb404] text-white py-2 px-4 rounded-full">Siguiente</button>
                        </div>
                    </div>

                    <div *ngIf="currentIndex === 1" class="grid gap-y-4">
                        <!-- pregunta 5 -->
                        <div class="relative">
                            <label for="fechaNacimiento" class="block truncate">Fecha de Nacimiento:</label>
                            <div class="mt-2">
                                <input type="date" id="fechaNacimiento" formControlName="fecha_nacimiento"
                                    (input)="updateProgress()"
                                    class="block w-full rounded-md border-0 p-2 text-[#000] shadow-sm ring-1 ring-inset focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[#00B3ED] sm:text-sm sm:leading-6 appearance-none" />
                            </div>
                            <div class="absolute right-1 top-[39.5px] pointer-events-none">
                                <i class="fas fa-calendar-alt text-[#000] cursor-pointer md:-mt-1 pr-3 text-md"
                                    onclick="document.getElementById('fechaNacimiento').focus();"></i>
                            </div>
                            <div *ngIf="submitted && f.fecha_nacimiento.errors"
                                class="max-w-[19rem] overflow-hidden mt-1">
                                <div *ngIf="f.fecha_nacimiento.errors.required"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">Este campo es requerido *
                                </div>
                                <div *ngIf="f.fecha_nacimiento.errors.futureDate"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">La fecha no es válida*
                                </div>
                                <div *ngIf="f.fecha_nacimiento.errors.tooOld"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">La fecha no es válida*
                                </div>
                                <div *ngIf="f.fecha_nacimiento.errors.tooRecent"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">Debe tener al menos 18
                                    años *
                                </div>
                            </div>
                        </div>



                        <!-- pregunta 6 -->
                        <div class="relative">
                            <label for="genero" class="block truncate">Género:</label>
                            <select id="genero" formControlName="genero" (change)="updateProgress()"
                                class="mt-2 p-2 block w-full rounded-md border-0 py-1.5 text-[#000] shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#00B3ED] focus:outline-none sm:text-sm sm:leading-6">
                                <option value="" disabled selected>Seleccionar Género...</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                                <option value="Otro">Otro</option>
                            </select>
                            <div class="absolute right-3 top-[38.5px] text-md">
                                <fa-icon [icon]="faVenusMars"></fa-icon>
                            </div>
                            <div *ngIf="submitted && f.genero.errors" class="max-w-[19rem] overflow-hidden mt-1 ">
                                <div *ngIf="f.genero.errors.required"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">
                                    Este campo es requerido *</div>
                            </div>
                        </div>

                        <!-- pregunta 7 -->
                        <div class="relative">
                            <label for="password" class="block truncate">Contraseña:</label>
                            <div class="mt-2">
                                <input placeholder="Ejemplo: MiContraseña@123" [type]="hide ? 'password' : 'text'"
                                    id="contrasena" formControlName="password" (input)="updateProgress()"
                                    class="block w-full rounded-md border-0 p-2 text-[#000] shadow-sm ring-1 ring-inset focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[#00B3ED] sm:text-sm sm:leading-6" />
                                <button type="button" class="absolute right-3 top-[38.5px]" (click)="hide = !hide">
                                    <i *ngIf="hide" class="fa fa-eye-slash text-[#000] -mt-1 text-md"></i>
                                    <i *ngIf="!hide" class="-mt-1 fa fa-eye text-cyan-500 text-md"></i>
                                </button>
                            </div>
                            <div *ngIf="submitted && f.password.errors" class="max-w-[19rem] overflow-hidden mt-1">
                                <div *ngIf="f.password.errors.required"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">Este campo es requerido *
                                </div>
                                <div *ngIf="f.password.errors.minlength"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">La contraseña debe tener
                                    al
                                    menos 8 caracteres *</div>
                                <div *ngIf="f.password.errors.passwordStrength" class="pl-2 mt-1 text-red-700 text-xs">
                                    {{
                                    f.password.errors.passwordStrength }}
                                </div>
                            </div>
                        </div>

                        <!-- pregunta 8 -->
                        <div>
                            <label for="correo" class="block truncate">Correo Electrónico:</label>
                            <div class="mt-2">
                                <input type="text" id="correo" formControlName="email" (input)="updateProgress()"
                                    class="block w-full rounded-md border-0 p-2 text-[#000] shadow-sm ring-1 ring-inset focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[#00B3ED] sm:text-sm sm:leading-6" />
                            </div>
                            <div *ngIf="submitted && f.email.errors" class="max-w-[19rem] overflow-hidden mt-1">
                                <div *ngIf="f.email.errors.required"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">
                                    Este campo es requerido *</div>
                                <div *ngIf="f.email.errors.emailInvalid"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">{{
                                    f.email.errors.emailInvalid }}
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-center space-x-2">
                            <button (click)="prev()"
                                class="px-4 py-2 mt-4 text-white bg-gray-500 rounded-full hover:bg-gray-600">Anterior</button>
                            <button (click)="next()"
                                class="mt-4 bg-[#fcb404] text-white py-2 px-4 rounded-full">Siguiente</button>
                        </div>
                    </div>

                    <div *ngIf="currentIndex === 2" class="grid gap-y-4">
                        <!-- pregunta 9 -->
                        <div>
                            <label for="celular" class="block truncate">Celular:</label>
                            <div class="mt-2">
                                <input id="celular" formControlName="celular" (input)="updateProgress()"
                                    class="block w-full rounded-md border-0 p-2 text-[#000] shadow-sm ring-1 ring-inset focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[#00B3ED] sm:text-sm sm:leading-6" />
                            </div>
                            <div *ngIf="submitted && f.celular.errors" class="max-w-[19rem] overflow-hidden mt-1">
                                <div *ngIf="f.celular.errors.required"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">Este campo es requerido *
                                </div>
                                <div *ngIf="f.celular.errors.lengthError"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">{{
                                    f.celular.errors.lengthError
                                    }}</div>
                                <div *ngIf="f.celular.errors.maxlength"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">El número de celular no
                                    debe tener más de 10
                                    dígitos</div>
                            </div>
                        </div>

                        <!-- pregunta 10 -->
                        <div class="relative">
                            <label for="id_departamento" class="block truncate">Departamento:</label>
                            <select id="id_departamento" name="id_departamento" formControlName="id_departamento"
                                (change)="onSelectChange($event)"
                                class="mt-2 p-2 block w-full rounded-md border-0 py-1.5 text-[#000] shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#00B3ED] focus:outline-none sm:text-sm sm:leading-6">
                                <option value="" disabled selected>Seleccionar Departamento...</option>
                                <option *ngFor="let nameDepartamento of listDepartamentos"
                                    [value]="nameDepartamento.id">
                                    {{nameDepartamento.name}}</option>
                            </select>
                            <fa-icon [icon]="faLandmarkFlag" class="absolute right-4 top-[38.5px]"></fa-icon>
                            <div *ngIf="submitted && f.id_departamento.errors"
                                class="max-w-[19rem] overflow-hidden mt-1">
                                <div *ngIf="f.id_departamento.errors.required"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">Este campo es requerido *
                                </div>
                            </div>
                        </div>
                        <!-- pregunta 11 -->
                        <div class="relative">
                            <label for="id_municipio" class="block truncate">Municipio:</label>
                            <select id="id_municipio" name="id_municipio" formControlName="id_municipio"
                                (change)="updateProgress()"
                                class="mt-2 p-2 block w-full rounded-md border-0 py-1.5 text-[#000] shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#00B3ED] focus:outline-none sm:text-sm sm:leading-6">
                                <option value="" disabled selected>Seleccionar Municipio...</option>
                                <option *ngFor="let municipio of listMunicipios" value="{{municipio.id}}">
                                    {{municipio.nombre}}
                                </option>
                            </select>
                            <fa-icon [icon]="faMountainCity" class="absolute right-4 top-[39.5px]"></fa-icon>
                            <div *ngIf="submitted && f.id_municipio.errors" class="max-w-[19rem] overflow-hidden mt-1">
                                <div *ngIf="f.id_municipio.errors.required"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">Este campo es requerido *
                                </div>
                            </div>
                        </div>

                        <!-- pregunta 12 -->
                        <div>
                            <label for="direccion" class="block truncate">Dirección:</label>
                            <div class="mt-2">
                                <input type="text" id="direccion" formControlName="direccion" (input)="updateProgress()"
                                    class="block w-full rounded-md border-0 p-2 text-[#000] shadow-sm ring-1 ring-inset focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[#00B3ED] sm:text-sm sm:leading-6" />
                            </div>
                            <div *ngIf="submitted && f.direccion.errors" class="max-w-[19rem] overflow-hidden mt-1">
                                <div *ngIf="f.direccion.errors.required"
                                    class="inline-block pl-2 text-red-700 rounded-lg text-xs">Este campo es requerido *
                                </div>
                            </div>
                            <!-- <div class="mt-3 flex">
                                <mat-checkbox formControlName="aceptaTerminos" class="example-margin bg-orange-600"></mat-checkbox>
                                <div class="text-xs text-white text-pretty flex justify-stretch">Autoriza usted a realizar el tratamiento de sus datos personales, según acuerdo 171 de 2014. Política de tratamiento de información y protección de datos personales.</div>
                            </div>
                            <div *ngIf="submitted && f.aceptaTerminos.errors" class="text-red-700">Debe aceptar los términos para continuar *</div> -->

                            <!-- CÓDIGO TEMPORAL MIENTRAS CONSIGUES EL ENLACE REAL -->
                            <div class="mt-3 flex items-start">
                                <input type="checkbox" id="terms" formControlName="aceptaTerminos"
                                    class="mt-1 mr-2 h-4 w-4" />
                                <label for="terms" class="text-xs text-gray-700">
                                    Autorizo el tratamiento de mis datos personales de conformidad con la Ley 1581 de
                                    2012. Estos serán gestionados según
                                    <!-- TODO: Reemplazar '#' con el enlace real a la política de privacidad -->
                                    <a href="#" target="_blank"
                                        class="text-blue-600 underline hover:text-blue-800 transition-colors duration-200">
                                        nuestra Política de Tratamiento de Datos Personales
                                    </a>.
                                </label>
                            </div>
                            <div *ngIf="submitted && f.aceptaTerminos.errors?.['required']"
                                class="text-red-600 mt-1 text-xs font-medium">
                                Debes aceptar los términos y condiciones para continuar.
                            </div>

                        </div>
                        <div class="flex justify-center space-x-2">
                            <button (click)="prev()"
                                class="px-4 py-2 mt-4 text-white bg-gray-500 rounded-full hover:bg-gray-600">Anterior</button>
                            <button type="submit" [disabled]="isSubmitting"
                                class="mt-4 bg-[#fcb404] hover:bg-[#fcb404] text-white py-2 px-4 rounded-full">
                                <span *ngIf="!isSubmitting">{{ buttonMessage }}</span>
                                <span *ngIf="isSubmitting" class="flex items-center">
                                    <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                            stroke-width="4"></circle>
                                        <path class="opacity-75" fill="currentColor"
                                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                        </path>
                                    </svg>
                                    {{ buttonMessage }}
                                </span>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
            <!-- columna 2 -->
        </div>
    </div>