<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="container p-0 pt-2 mx-auto font-poppins ">

  <!-- Encabezado -->
  <header class="flex flex-col items-center justify-between mb-6 md:flex-row">
    <app-header [title] [subtitle]="'Asesorias Orientador'"></app-header>

    <!-- Barra de búsqueda -->
    <div class="relative flex justify-end w-3/5 md:flex-grow max-md:max-w-l lg:max-w-xl md:mb-10">

      <input type="text" [(ngModel)]="userFilter.Nombre_sol"
        class="w-full h-10 pl-2 border-2 rounded-full max-md:w-full max-lg:w-3/4 max-xl:w-4/5 max-lg:alig pr-9 bg-form-gray"
        placeholder="Buscar..." required />
      <button class="absolute md:right-3 right-1 top-1.5 bg-sky-500 p-1.5 rounded-2xl">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-white" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </button>
    </div>
  </header>

  <!-- Breadcrumbs -->
  <app-breadcrumbs></app-breadcrumbs>

  <div class="flex flex-col px-1 mt-8 mb-4 sm:px-1">

    <!-- Contenedor principal -->
    <div class="flex flex-wrap gap-4 w-full md:w-auto ml-[10px] md:ml-[55px] items-center">
      <h5 class="mt-2 font-bold">FILTROS</h5>

      <!-- Botones de filtro -->
      <div class="flex flex-wrap items-center p-2 space-x-2 bg-gray-100 rounded-lg">

        <!-- Botón de 'Sin asignar' -->
        <button id="sinAsignar"
          class="flex items-center px-2 py-2 italic text-gray-800 ease-in-out md:px-4 listado-aseorias"
          (click)="loadSinAsignar()">
          <span
            class="flex items-center justify-center w-6 h-6 mr-2 text-red-700 bg-white border border-red-700 rounded-lg">
            {{ asesoriasSinAsesor.length }}
          </span>
          <span>Sin asignar</span>
        </button>

        <!-- Botón de 'Asignadas' -->
        <button id="Asignadas"
          class="flex items-center px-2 py-2 italic text-gray-800 ease-in-out btn-color md:px-4 listado-aseorias"
          (click)="loadAsignadas()">
          <span
            class="flex items-center justify-center w-6 h-6 mr-2 text-green-500 bg-white border border-green-500 rounded-lg">
            {{ asesoriasConAsesor.length }}
          </span>
          <span>Asignadas</span>
        </button>
      </div>
    </div>

    <!-- Spinner -->
    <div class="flex justify-center" *ngIf="isLoading">
      <div class="spinner"></div>
    </div>

    <!-- Sección de tarjetas -->
    <div class="flex flex-wrap justify-center px-2 mt-6" *ngIf="!isLoading">
      <!-- Mensaje cuando no hay asesorias sin asignar -->
      <div *ngIf="asesoriasSinAsesor.length === 0 && !showAsignadasFlag" class="mt-6 text-center text-gray-500">
        No tienes asesorias pendientes por asignar
      </div>

      <!-- Mensaje cuando no hay asesorias asignadas -->
      <div *ngIf="asesoriasConAsesor.length === 0 && showAsignadasFlag" class="mt-6 text-center text-gray-500">
        Aun no asignas aliado a ninguna asesoria
      </div>

      <!-- Contenedor de las tarjetas -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 w-full p-4 bg-[#FAFAFA]">
        <div
          *ngFor="let asesoria of (showAsignadasFlag ? asesoriasConAsesor : asesoriasSinAsesor) | filterBy:userFilter | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index"
          class="relative w-full">

          <!-- Contenedor de la tarjeta con el efecto de recorte -->
          <div class="relative bg-[#e6e6e6] rounded-lg lg-p-1 py-3 h-auto">
            <!-- Dentro del círculo -->
            <div class="p-2 absolute  rounded-full bg-[#FAFAFA] -top-5 -right-3">
              <div class="flex items-center justify-center w-12 h-12 rounded-full cursor-pointer"
                [ngClass]="{'bg-green-500': showAsignadasFlag, 'bg-red-500': !showAsignadasFlag}"
                (click)="openModal(asesoria)">
                <i class="fa-solid fa-arrow-up-long transform rotate-45 text-white text-[24px]"></i>
              </div>
            </div>

            <!-- Contenido de la tarjeta -->
            <h2 class="text-lg font-black h-[3.3rem] overflow-hidden mt-[24px] ml-[4%] font-poppins">{{ asesoria.Nombre_sol }}</h2>
            <p class="italic text-sm text-black ml-[4%]"><strong>Fecha: </strong> {{ asesoria.fecha.slice(0,
              10) }}
            </p>
            <div
              class="block w-full h-[3.7rem] text-black focus:outline-none resize-none overflow-hidden text-ellipsis mb-3 mt-[18px] ml-[4%]"
              title="{{ asesoria.notas }}">
              {{ asesoria.notas }}
            </div>
            <p class="italic text-sm text-black mb-2 ml-[4%]"><strong>Emprendedor: </strong>{{ asesoria.nombres }}</p>

            <div class="italic text-sm text-black mb-2 ml-[4%]">
              <strong>Correo: </strong>
              <p class="break-words">{{ asesoria.email }}</p>
            </div>

            <p *ngIf="asesoria.aliado_redirigido" class="text-sm text-black mb-2 ml-[4%]"><strong>Aliado: </strong>{{
              asesoria.aliado_redirigido }}</p>
          </div>
        </div>
      </div>

      <!-- Contenedor de la paginación -->
      <div *ngIf="!isLoading">
        <div class="text-center">
          <nav aria-label="Page navigation example">
            <ul class="inline-flex items-center justify-center pl-0 space-x-2 text-sm">
              <li>
                <a href="javascript:void(0)"
                  class="inline-flex items-center justify-center w-8 h-8 pl-2 text-gray-400 no-underline border-2 border-gray-300 rounded-lg hover:bg-gray-200 focus:outline-none"
                  (click)="changePage('previous')" [class.opacity-50]="!canGoPrevious()"
                  [class.cursor-not-allowed]="!canGoPrevious()">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4" fill="currentColor">
                    <path
                      d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
                  </svg>
                </a>
              </li>
              <ng-container *ngFor="let pageNumber of getPages()">
                <li>
                  <a href="javascript:void(0)"
                    class="inline-flex items-center justify-center w-8 h-8 font-bold no-underline border-2 rounded-lg border-amber-500 text-amber-500 hover:bg-amber-100 focus:outline-none"
                    (click)="changePage(pageNumber)" [class.bg-amber-500]="page === pageNumber"
                    [class.text-white]="page === pageNumber">
                    {{ pageNumber }}
                  </a>
                </li>
              </ng-container>
              <li>
                <a href="javascript:void(0)"
                  class="inline-flex items-center justify-center w-8 h-8 pl-2 text-gray-400 no-underline border-2 border-gray-300 rounded-lg hover:bg-gray-200 focus:outline-none"
                  (click)="changePage('next')" [class.opacity-50]="!canGoNext()"
                  [class.cursor-not-allowed]="!canGoNext()">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4" fill="currentColor">
                    <path
                      d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                  </svg>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>