<div class="container mx-auto px-4 py-6 md:py-12">
  <div class="grid grid-cols-1 md:grid-cols-12 gap-4 mb-6">
    <div class="col-span-12 bg-white rounded-lg p-4 md:p-8 shadow-lg">
      <div class="text-xl md:text-3xl lg:text-9xl">
        <h5 class="text-center text-xl md:text-2xl md:pl-20 font-bold mb-2 md:mb-4 text-sky-600">
          PERSONALIZACION DEL SISTEMA
        </h5>
      </div>
      <div class="container mx-auto mt-5">
        <div class="p-6 grid grid-cols-1 md:flex md:flex-wrap justify-between items-start">
          <!-- Logo-->
          <div class="flex flex-col items-center p-4">
            <label class="text-center text-xl md:text-2xl font-mono mb-4 text-sky-600">Logo</label>
            <input id="color-picker-logo" type="file" name="logo"
              class="text-sky-600 border-2 border-gray-300 p-2 rounded" (change)="onFileChange($event)" />
            <div class="img mt-2">
              <img [src]="previewUrl" alt="Logo preview" *ngIf="previewUrl"
                class="image-preview text-sky-600 border-2 border-gray-300  p-2 rounded"
                style="width: 100%; max-height: 155%; object-fit: contain" />
            </div>
          </div>
          <!-- Color Principal -->
          <div class="flex flex-col items-center p-4">
            <label class="text-center text-xl md:text-2xl mb-4 text-sky-600 font-mono">Color Principal</label>
            <div class="w-full p-4 border-2 border-gray-300 rounded-lg flex flex-col items-center">
              <div class="w-full h-20 mb-2" [style.background]="selectedColorPrincipal"></div>
              <p class="text-center">{{ selectedColorPrincipal }}</p>
              <button [(colorPicker)]="selectedColorPrincipal" [cpOKButton]="true"
                [cpOKButtonClass]="'bg-green-500 rounded-lg text-sm'" [cpOKButtonText]="'Elegir'"
                [cpCancelButton]="true" [cpCancelButtonClass]="'bg-red-500 rounded-lg text-sm'"
                [cpCancelButtonText]="'Cancelar'"
                class="bg-sky-400 hover:bg-cyan-400 text-white font-bold py-2 px-4 rounded w-full">
                Seleccionar Color
              </button>
            </div>
          </div>
          <!-- Color Secundario-->
          <div class="flex flex-col items-center p-4">
            <label class="text-center text-xl md:text-2xl font-mono mb-4 text-sky-600">Color Secundario</label>
            <div class="w-full p-4 border-2 border-gray-300 rounded-lg flex flex-col items-center">
              <div class="w-full h-20 mb-2" [style.background]="selectedColorSecundario"></div>
              <p class="text-center">{{ selectedColorSecundario }}</p>
              <button [(colorPicker)]="selectedColorSecundario" [cpOKButton]="true"
                [cpOKButtonClass]="'bg-green-500 rounded-lg text-sm'" [cpOKButtonText]="'Elegir'"
                [cpCancelButton]="true" [cpCancelButtonClass]="'bg-red-500 rounded-lg text-sm'"
                [cpCancelButtonText]="'Cancelar'"
                class="bg-sky-400 hover:bg-cyan-400 text-white font-bold py-2 px-4 rounded w-full">
                Seleccionar Color
              </button>
            </div>
          </div>
        </div>
        <div class="flex justify-end mt-8">
          <button type="submit" class="bg-sky-400 hover:bg-cyan-400 text-white font-bold py-2 px-4 rounded">
            GUARDAR
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
