<div class="p-4 bg-white">
  <h2 class="text-center text-blue-500 text-xl lg:text-2xl font-semibold mb-4">Crear Asesoría</h2>
  <form [formGroup]="asesoriaForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label for="nombre" class="block mb-2 text-blue-400">Nombre Solicitud</label>
      <input type="text" id="nombre" formControlName="nombre" class="p-2 h-12 w-full border rounded-md bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200" />
    </div>
    
    <div class="mb-4">
      <label for="notas" class="block mb-2 text-blue-400">Notas</label>
      <input type="text" id="notas" formControlName="notas" class="p-2 h-12 w-full border rounded-md bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200" />
    </div>

    <div class="flex flex-col lg:flex-row mb-4">
      <div class="lg:w-3/4 mb-4 lg:mb-0 lg:mr-4">
        <label for="nom_aliado" class="block mb-2 text-blue-400">Con quién quiere la asesoría?</label>
        <select id="nom_aliado" formControlName="nom_aliado" class="w-full border rounded-md px-2 py-2 bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200">
          <option value="" disabled selected hidden>Seleccione</option>
          <option *ngFor="let aliado of aliados" [value]="aliado.nombre">{{ aliado.nombre }}</option>
        </select>
      </div>
      <div class="flex items-center">
        <input type="checkbox" id="isorientador" formControlName="isorientador" (change)="onCheckboxChange($event)">
        <label for="isorientador" class="ml-1">No sé</label>
      </div>
    </div>

    <div class="flex justify-end">
      <button mat-button mat-dialog-close class="bg-red-500 mr-2 text-white">Cancelar</button>
      <button mat-button class="bg-sky-500 text-white" type="submit">Guardar</button>
    </div>
  </form>
</div>
