<div class="flex justify-end w-full ">
  <mat-toolbar class="app-header bg-white flex items-center py-14 px-8 justify-between w-full">
    <img src="../../../assets/images/logo_sinFondo.png" alt="Logo" class="h-24 w-20 md:w-24 mr-2 md:mr-4 mt-4 md:mt-0">
    <span class="nav-tool-items flex max-sm:flex-col items-center space-x-4 md:space-x-8 mt-4 md:mt-0 ">
      <a mat-button routerLink="login" routerLinkActive="active"
        class="text-sm md:text-base bg-black text-white rounded-lg">Iniciar Sesión</a>
      <a mat-button routerLink="register" routerLinkActive="active"
        class="text-sm md:text-base bg-blue-400 text-white rounded-lg max-sm:mt-2">Regístrate</a>
    </span>
  </mat-toolbar>
</div>
<hr>
<div class="w-11/12 mx-auto h-52 relative px-12">
  <!-- Botón de flecha izquierda -->
  <button (click)="prevSlide()"
    class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-white hover:bg-gray-100 text-black font-bold p-3 rounded-full  focus:ring-gray-500 border-2 "
    alt="Atras">
    &larr;
  </button>

  <!-- Carrusel -->
  <div class="relative overflow-hidden w-full h-full">
    <div class="flex transition-transform duration-500 ease-in-out space-x-0"
      [ngStyle]="{'transform': 'translateX(' + currentTransform + '%)'}">
      <div *ngFor="let card of cards; let i = index"
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 flex-shrink-0 flex justify-center items-center h-52"
        (click)="mostrarCard(i)">
        <img [src]="card.logo" class="h-full object-contain" loading="lazy">
      </div>
    </div>
  </div>

  <!-- Botón de flecha derecha -->
  <button (click)="nextSlide()"
    class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-white hover:bg-gray-100 text-black font-bold p-3 rounded-full  focus:ring-gray-500 border-2 "
    alt="Adelante">
    &rarr;
  </button>
</div>

<hr>
<div *ngIf="cardSeleccionada" class="max-w-screen-2xl mx-auto h-3/4 xl:h-[500px] flex ml-6 ">
  <div class="w-full rounded-lg overflow-hidden flex flex-col lg:flex-row">
    <div class="w-full lg:w-3/4 flex flex-col items-center">
      <div class="w-full flex justify-center lg:justify-start mt-4 ">
        <img [src]="resizedCardImage" alt="ImagenArriba" width="250" height="150" class="max-h-[150px] stroke-current">
      </div>
      <div class="w-full p-4 mt-4">
        <p class="text-base leading-normal lg:text-left ">
          {{ cardSeleccionada.descripcion }}
        </p>
      </div>
    </div>
    <div class="w-full lg:w-2/4 lg:mt-4 flex items-center justify-center order-last lg:order-none p-4 min-h-60 sm:min-h-96">
      <ng-container *ngIf="cardSeleccionada.tipo_dato === 'Video'">
        <iframe [src]="videoUrl" width="100%" height="100%" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </ng-container>
      <ng-container *ngIf="cardSeleccionada.tipo_dato !== 'Video'">
        <div class="w-full lg:mt-4 flex items-center justify-center order-last lg:order-none ">
          <img [src]="dir" alt="Actualiza_imagen_en_bd">
        </div>
      </ng-container>
    </div>
  </div>
</div>