@tailwind base;
@tailwind components;
@tailwind utilities;



html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Poppins',  sans-serif; 
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap; /* ¡CLAVE! */
  src: local(''),
       url('/assets/fonts/poppins-v23-latin-regular.woff2') format('woff2');
}


