<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="container -mx-auto px-4 py-6 md:py-12 


">
<div class="grid grid-cols-12 gap-4 mb-6">
    <div class="col-span-12 bg-white rounded-lg p-4 md:p-8 shadow-lg ">
        <div class="text-3xl md:text-9xl ">
            <h5 class="text-xl md:text-2xl md:pl-20 font-bold mb-2 md:mb-4  text-sky-600">
                Información Personal
            </h5>
        </div>
        <div class="flex flex-wrap mt-16">
            <div class="w-full md:w-1/3 pr-6">
                
                <!-- Tamaño de la imagen ajustado para dispositivos medianos -->
                <img src="assets/images/logo-seed.jpg" alt="Imagen" class="mx-auto max-w-xs md:max-w-full md:max-h-64 md:mt-6" loading="lazy"/>
            </div>      
            <div class="w-full md:w-1/3 pr-0 md:pr-2 md:-mt-14">
                <label for="nombre" class="block mb-2 text-blue-400">Nombre:</label>
                <input type="text" id="nombre"
                    class="p-2 h-12 w-full mb-2 border rounded-md bg-gray-200  appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200" />
            </div>
            <div class="w-full md:w-1/3 pl-0 md:pl-2 md:-mt-14">
                <label for="apellido" class="block mb-2 text-blue-400">Apellido:</label>
                <input type="text" id="apellido"
                    class="p-2 h-12 w-full mb-2 border rounded-md bg-gray-200  appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200" />
            </div>
            <div class="w-full md:w-1/3 pr-0 md:pr-2"></div>
            <div class="w-full md:w-1/3 pr-0 md:pr-2 md:-mt-36 relative">
                <label for="tipoDocumento" class="block mb-2 text-blue-400">Tipo de Documento:</label>
                <select id="tipoDocumento"
                    class="p-2 h-12 w-full mb-2 border rounded-md bg-gray-200  appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200">
                    <option value="" disabled selected>
                        Seleccionar tipo de documento...
                    </option>
                    <option value="Cedula">Cédula ciudadanía</option>
                    <option value="pasaporte">Pasaporte</option>
                    <option value="carnetExtranjeria">Carnet de Extranjería</option>
                </select>
                <fa-icon [icon]="faIdCard" class="absolute right-5 top-4 mt-6 text-cyan-500  z-0  " styles=" pointer-events: auto;"></fa-icon>
            </div>
            <div class="w-full md:w-1/3 pl-0 md:pl-2 md:-mt-36">
                <label for="documento" class="block mb-2 text-blue-400">Número de Documento:</label>
                <input type="number" id="documento"
                    class="p-2 h-12 w-full mb-2 border rounded-md bg-gray-200  focus:outline-none focus:ring-2 focus:ring-blue-200" />
            </div>
            <div class="w-full md:w-1/3 pr-0 md:pr-2"></div>
            <div class="w-full md:w-1/3 pr-0 md:pr-2 md:-mt-12">
                <label for="fechaNacimiento" class="block mb-2 text-blue-400">Fecha de Nacimiento:</label>
                <div class="relative">
                    <input type="date" id="fechaNacimiento"
                        class="p-2 h-12 w-full mb-2 border rounded-md bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-200 appearance-none"
                        style="background-image: none;" />
                    <div class="absolute top-0 right-0 h-full flex items-center pr-2 mt-2 pointer-events-none">
                        
                        <i class="fas fa-calendar-alt text-cyan-500 cursor-pointer" onclick="document.getElementById('fechaNacimiento').focus();"></i>
                    </div>
                </div>
            </div>                
            <div class="w-full md:w-1/3 pl-0 md:pl-2 md:-mt-12 relative">
                <label for="genero" class="block mb-2 text-blue-400">Género:</label>
                <select id="genero"
                    class="p-2 h-11 w-full mb-2 border rounded-md bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200">
                    <option value="" disabled selected>Seleccionar Género...</option>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="otro">Otro</option>
                </select>
                <fa-icon [icon]="faVenusMars" class="absolute right-3 top-4 mt-6 text-cyan-500  z-0  " styles=" pointer-events: auto;"></fa-icon>
            </div>
            <div class="w-full md:w-1/3 pr-0 md:pr-2 "></div>
            <div class="w-full md:w-1/3 pr-0 md:pr-2 md:-mt-2">
                <label for="contrasena" class="block mb-2 mt-3 text-blue-400">Contraseña:</label>
                <input type="password" id="contrasena"
                    class="p-2 h-12 w-full mb-2 border rounded-md bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-200" />
            </div>                
            <div class="w-full md:w-1/3 pr-0 md:pr-2"></div>
            <hr class="w-full border-t-2 border-gray-400 my-6" />
            <div class="w-full md:w-1/3 pl-0 md:pl-2">
                <h5 class="text-xl md:text-2xl font-bold mb-2  md:-mx-5 md:pl-24 md:mb-4 text-sky-600 md:mt-5">
                    Contacto
                </h5>   
            </div>
            <div class="w-full md:w-1/3 pr-0 md:pr-2 relative">
                <label for="nombre" class="block mb-2 text-blue-400">Correo Electronico:</label>
                <input type="text" id="correo"
                    class="p-2 h-12 w-full mb-2 border rounded-md bg-gray-200  appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200" />
                    <!-- <fa-icon [icon]="faEnvelope" class="absolute right-4 top-5 mt-6 text-cyan-500  z-0  " styles=" pointer-events: auto;"></fa-icon> -->
            </div>
            <div class="w-full md:w-1/3 pl-0 md:pl-2 relative">
                <label for="number" class="block mb-2 text-blue-400">Celular:</label>
                <input type="text" id="apellido"
                    class="p-2 h-12 w-full border rounded-md bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-200" />
                    <!-- <fa-icon [icon]="faPhone" class="absolute right-4 top-5 mt-6 text-cyan-500  z-0  " styles=" pointer-events: auto;"></fa-icon> -->
            </div>
            <hr class="w-full border-t-2 border-gray-400 my-6" />
            <div class="w-full md:w-1/3 pl-0 md:pl-2">
                <h5 class="text-xl md:text-2xl font-bold mb-2  md:-mx-5 md:mt-16 md:mb-4 md:pl-24 text-sky-600">
                    Direccion
                </h5>
            </div>
            
            <div class="w-full md:w-1/3 pr-0 md:pr-2 relative">
                <label for="departamento" class="block mb-2 text-blue-400">Departamento:</label>
                <select id="departamento" name="departamento"
                class="p-2 h-12 w-full mb-2 border rounded-md bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-200 appearance-none ">
                    <option value="" disabled selected>
                        Seleccionar Departamento...
                    </option>
                    <option value="Amazonas">Amazonas</option>
                    <option value="Santander">Santander</option>
                    <option value="Antioquia">Antioquia</option>
                </select>
                <fa-icon [icon]="faLandmarkFlag" class="absolute right-4 top-5 mt-6 text-cyan-500  z-0  " styles=" pointer-events: auto;"></fa-icon>
            </div>
            <div class="w-full md:w-1/3 pl-0 md:pl-2 relative">
                <label for="municipio" class="block mb-2 text-blue-400">Municipio:</label>
                <select id="municipio" name="municipio"
                class="p-2 h-11 w-full mb-2 border rounded-md bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-200 appearance-none ">
                    <option value="" disabled selected>Seleccionar Municipio...</option>
                    <option value="Municipio1">Piedecuesta</option>
                    <option value="Municipio2">Girón</option>
                    <option value="Municipio3">Bucaramanga</option>
                </select>
                <fa-icon [icon]="faMountainCity" class="absolute right-3 top-4 mt-6 text-cyan-500 z-0 " styles=" pointer-events: auto;"></fa-icon>
            </div>
            <div class="w-full md:w-1/3 pr-0 md:pr-2"></div>
            <div class="w-full md:w-1/3 pr-0 md:pr-2 md:-mt-6">
                <label for="contrasena" class="block mb-2 mt-3 text-blue-400">Direccion:</label>
                <input type="text" id="direccion"
                    class="p-2 h-12 w-full mb-2 border rounded-md bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-200" />
            </div>                
            <div class="w-full md:w-1/3 pr-0 md:pr-2"></div>
        </div>
        <div class="flex justify-end">
            <button type="submit" class="bg-sky-400 hover:bg-cyan-400 text-white font-bold py-2 px-4 md:-mt-4 rounded -pl-12">
               REGISTRAR
            </button>
        </div>
    </div>
</div>

</div>
